[2020-08-17 23:42] NeilGirdhar opened #1 "Please consider supporting optimization of metaparamers"
This is a very exciting project!  I was just considering using flax.optim when I found optax, and I love the elegant `combine.chain` design of the varias optimizer aliases.  Very cool!

I'd like to consider learning as an iterated function of the parameters, which itself depends on meta-parameters (e.g. learning rate).  Then, I can use the fixed point theorem to calculate the gradient of the loss

[2020-08-18 03:29] NeilGirdhar commented on #1
Actually, I'll just use it as is, and if I run into this problem, I'll either reopen this issue or build a shim around optax with a more object oriented design.

[2020-08-18 08:37] mtthss commented on #1
Hi Neil,

Meta-gradients are definitely something that is very close to my heart,
As I have been using optax in a number of recent MG papers
E.g. https://arxiv.org/abs/2007.08794, https://arxiv.org/abs/2007.08433

You will find that many of the building blocks in optax are carefully crafted to ensure that they are suitable for meta-gradients (including subtle numerical issues; see for instance the

[2020-08-18 12:29] NeilGirdhar commented on #1
@mtthss Thank you, yes.  What I was trying to explain is that when you go to calculate `ax.grad(inner_updates_and_outer_loss...`, this depends on `inner_update`, which depends on `optim`, which closes over parameters like learning rates.  This means that your gradient can easily result in leaked tracers in JAX.

Leaked tracers have cost me weeks of debugging time, and now I'm extremely wary of clo

[2020-08-18 17:00] mtthss commented on #1
Yes, in my defence I did write that code in less than 5 minutes,
its more meant to be pseudo-code than actual runnable Python :)

The approach above is not specific to eta being just a learning rate, e.g. I have used to backprop through optax updates to meta-learn all hyper-parameters of complex RL loss functions (eta = {gamma, lambda, baseline_cost, entropy_cost, ...}), or even the entire loss fu

[2020-08-18 20:59] NeilGirdhar commented on #1
What do you think of [this](https://github.com/NeilGirdhar/tjax/blob/master/tjax/gradient_transformation.py)?  I'm still working on the design to get it to fit with my project.

[2020-08-18 21:28] mtthss commented on #1
That's a good start, a major thing that I would strongly suggest is that you switch the method names to the signature of `GradientTramsformation` in `optax`. Then your transformations would be immediately interoperable with `optax` natives transformations. The `init`/`update` is also somewhat canonical across several other JAX libraries as well. Looking forward to see further iterations of this.

[2020-08-18 21:37] mtthss commented on #1
I do like of the design how it manages to build the support for meta-gradients on top of the existing optax low level components. If in addition you make sure the transformations are interoperable it would be really quite cool.

[2020-08-18 21:41] mtthss commented on #1
One interesting thing is that the dataclass structure for Scale and ScaleByAdam is actually exactly the same (modulo which optax transformation is wrapped). I actually wonder if we could even implement this as a generic wrapper, that takes an arbitrary optax transformation and allows to inject the arguments according to the pattern from your code.

[2020-08-18 22:00] NeilGirdhar commented on #1
Oh, I didn't realize that!  Okay, that's pretty convincing.

The main reason is that I updated the dataclass mypy plugin so that it understands the `replace` method and its arguments: [plugin](https://github.com/NeilGirdhar/cooperative_dataclasses/blob/master/cooperative_dataclasses/mypy_plugin.py).  It also supports inheritance with regular mixins and classes, but I've never actually used that.

[2020-08-20 22:06] cgarciae opened #3 "Documentation"
Hey, I am a user of optix, it seems optax is going to be the future of the library but I don't see any documentation. Is it too early to use this library?

[2020-08-20 22:57] KristianHolsheimer commented on #3
I just wanted to chime in and say that this would be nice to have. I'm working on a project that used to reference some optix functions through intersphinx.. now I don't know where to point it to.

[2020-08-20 23:09] NeilGirdhar commented on #1
(Not sure why I closed this).

[2020-08-21 06:20] mtthss commented on #3
Hi, thanks for reaching out.

Yes I can confirm that 'optax' is the supported solution going forward. It is already widely used internally at DeepMind and I encourage you to also use 'optax' rather than 'optix', as the latter will be deprecated soon.

We will be adding more public documentation for 'optax' in the coming weeks.

[2020-08-21 08:39] mtthss commented on #1
Adding an optional meta_params is definitely one option. For the main library I am probably still going to look into having a generic wrapper that allows to lifts the hyper-params of an arbitrary transform and replace it with a traceable array. Since meta-learning is still somewhat niche (although I am very into it myself) I want to make sure we support without making any harder for users to write

[2020-08-30 06:22] bionicles commented on #3
switched. looks good

[2020-10-04 08:56] asmith26 opened #4 "Manually setting the learning_rate?"
Hi there,

Is it possible to set the learning rate manually? e.g.

[code]

Many thanks for any help, and for this fantastic lib! :)

[2020-10-05 02:56] KristianHolsheimer commented on #4
You can either use a [schedule](https://github.com/deepmind/optax/blob/master/optax/_src/schedule.py) or create a new optimizer, e.g.
[code]
The latter option is a bit blunt, but it works (as long as your `opt_state` is compatible with the new optimizer).

[2020-10-05 09:22] mtthss commented on #4
You could:
* define a custom optimiser with `chain` and `scale_by_schedule`
* have two different optims with different learning rates (they are just functions so it doesn't cost you anything)

[2020-10-05 09:31] asmith26 commented on #4
Thanks @KristianHolsheimer and @mtthss for your help!

I think I'll try the `_, opt_update = optax.adam(learning_rate=new_learning_rate)` approach. I thought I'd see if I can use reinforcement learning to automatically change the learning rate:
- actions = increase lr, decrease lr or no change,
- rewards = based on if the loss has improved or not.
- states (initial idea) = has the loss changed (e.

[2020-10-05 10:15] #4 closed

[2020-10-16 20:28] mtthss opened #6 "Implement scaling by AdaBelief"
See paper:

https://arxiv.org/abs/2010.07468

This should be a trivial modification of the existing `scale_by_adam` transform.

[2020-10-16 20:31] mtthss opened #7 "Implement gradient centralisation"
See paper

https://arxiv.org/abs/2004.01461

This transform is fairly easy to implement.

[2020-10-16 21:32] mtthss opened #8 "Implement rectified Adam"
See paper:

https://arxiv.org/abs/1908.03265

[2020-10-16 21:33] mtthss opened #9 "Implement support for Yogi optimiser"
See paper:

https://papers.nips.cc/paper/8186-adaptive-methods-for-nonconvex-optimization.pdf

[2020-10-17 22:05] joaogui1 commented on #6
I would like to implement this issue!

[2020-10-17 22:06] joaogui1 commented on #7
I would like to implement this issue!

[2020-10-18 08:02] mtthss commented on #7
Great! Looking forward to your contribution!

[2020-10-18 08:05] mtthss commented on #6
Awesome! Looking forward to your contribution!

Couple of suggestions:

Please move the bias correction code out of scale_by_adam into a standalone fn:

[code]

Then add both a `scale_by_belief` in `transform.py` and a `adabelief` optimiser in `alias.py`.

Thanks!

[2020-10-18 09:01] mtthss opened #10 "Implement the SM3 algorithm"
See paper:
https://arxiv.org/abs/1901.11150

[2020-10-18 10:01] mtthss opened #11 "More examples"
This issue provides a home for work on adding informative examples of using optax (for instance examples reproducing results from interesting optimisation papers).

Reach out on this issue if you are interested and/or have suggestions.

[2020-10-22 12:56] PostQuantum commented on #11
I want to use optax, but I don't find any tutorials to learn. Are there any documents for me to learn optax?

[2020-10-22 21:14] #6 closed

[2020-10-22 21:16] mtthss commented on #6
Thanks @joaogui1 !

[2020-10-23 16:30] joaogui1 commented on #8
Hi, I would like to fix this once #13 is done

[2020-10-23 16:32] joaogui1 opened #14 "Which JAX-based libraries is optax compatible with?"
Sorry for the lazy question, but is optax compatible with [objax](https://github.com/google/objax) or [flax](https://github.com/google/flax/)? Or is it only compatible with haiku?

[2020-10-23 17:00] mtthss commented on #14
optax and haiku are fully independent (although interoperable).

optax operates on the gradients and params,
and these may be represented by any arbitrary data structure,
(e.g. dictionaries, tuples, named tuple, nested structs of the above, ...)
anything really, as long as you can operate on them with the native JAX `tree_utils`.

[2020-10-23 17:09] mtthss commented on #6
We had to briefly revert the change since there was a merging issue,
your PR has now been resubmitted (still with you as author).

[2020-10-23 17:11] joaogui1 commented on #14
Great, thanks!

[2020-10-23 17:11] #14 closed

[2020-10-23 17:19] mtthss commented on #8
Awesome!

[2020-10-23 19:18] mtthss commented on #8
#13 is now approved and will be merged Monday morning.

[2020-10-23 21:24] mtthss opened #17 "Implement lookahead optimiser"
See paper:
https://arxiv.org/abs/1907.08610
For details

[2020-10-26 14:56] #7 closed

[2020-10-26 17:20] #17 closed

[2020-10-26 17:21] mtthss commented on #17
Postponing this as it is not a top priority at the moment.

[2020-10-31 01:59] JiahaoYao opened #18 "adam does not learn?"
Hi, i use the optax to implement the following convent to classify the Mnist dataset. I wonder why it is not learning?

[code]

I got the results of the following:
[code]

It would be nice if someone know the reason!

[2020-10-31 15:55] #18 closed

[2020-12-30 01:44] SauravMaheshkar commented on #11
Hey @mtthss can I work on this? Perhaps try to improve the existing example with RMSprop and SGD, and then move on to LRSchedulers.

[2020-12-30 22:41] mtthss commented on #11
@SauravMaheshkar this sounds great thanks!

[2021-01-04 13:08] #9 closed

[2021-01-05 00:18] SauravMaheshkar commented on #11
**Update:**
@mtthss, I've used the MNIST dataset and a `hk.module` model, and used/demonstrated how all the optimizers in the `alias.py` could be used and performed hyper-parameter optimization (using other libraries). Now I'm currently working on an example of how one could work with the second-order derivatives. Plan to make a PR by Friday 😊

[2021-01-05 09:44] mtthss commented on #11
Awesome! Thank you very much, looking forward to this!

[2021-01-07 19:16] n2cholas opened #19 "Implement OneCycle Learning Rate Schedule"
OneCycle learning rate from this paper: https://arxiv.org/abs/1708.07120.

The paper describes a 3-stage piecewise linear schedule. [PyTorch](https://pytorch.org/docs/stable/optim.html#torch.optim.lr_scheduler.OneCycleLR) and [FastAI](https://fastai1.fast.ai/callbacks.one_cycle.html) implement a 2 stage variant with cosine annealing (which apparently works better in practice).

I would like to con

[2021-01-07 19:30] n2cholas opened #20 "Schedules for Non-Learning Rate Hyper-parameters"
Is it possible to have schedules for hyper-parameters such as momentum?

For example, onecycle momentum from this paper: https://arxiv.org/abs/1708.07120. There are also benefits to using schedules for parameters like epsilon (as a trust-region / damping parameter), highlighted by this blog post: http://zna.do/epsilon.

[2021-01-07 20:52] n2cholas opened #21 "Support specifying end_value for exponential_decay"
It would be convenient to support specifying an `end_value` for exponential decay. So, the `exponential_decay` would require `init_value` and `transition_steps` and one of (`end_value` or `decay_rate`). [Here](https://github.com/tensorflow/kfac/blob/master/kfac/python/keras/callbacks.py#L116) is an example of what I'm proposing.

I would be happy to contribute this, if you think it is suitable.

[2021-01-08 22:14] mtthss commented on #19
This would be a beautiful contribution thanks!

[2021-02-05 15:36] mtthss commented on #11
Hi @SauravMaheshkar, how is the PR coming along? do you need any help?

[2021-02-05 20:44] n2cholas commented on #20
Most of the current optimizers keep a step count in their state, so adding a schedule to their hyper-parameters would be straightforward. The signature for Adam, for example, could be changed from:

[code]

to

[code]

Then, within update, we would just need to do something like:

[code]

I'd be happy to try contributing this if it seems reasonable.

[2021-02-06 13:33] SauravMaheshkar commented on #11
Just opened a PR.

Metrics from all the experiments are available on [this page](https://wandb.ai/sauravmaheshkar/gradient-processing-and-optimization?workspace=).

[2021-02-08 12:12] #19 closed

[2021-02-09 14:00] #8 closed

[2021-02-09 14:06] mtthss commented on #11
Hi @SauravMaheshkar

I am struggling a bit with interpreting the results,
do I see correctly that the train/test accuracy is around 10%?

[2021-02-09 14:21] mtthss commented on #21
I like the idea of adding an `end_value` argument, to support these.

When a decay rate and num_decay_steps is provided:
[code]

When a decay_rate and final_value are provided:
[code]

But I would be inclined to keep `decay_rate` compulsory,
and have a check that only of `end_value` and `transtion_steps` is provided.

Does that seem reasonable to you?

[2021-02-09 14:21] SauravMaheshkar commented on #11
Yes @mtthss, I can't figure that out as well. I've ported the code for training from a [Haiku Example](https://github.com/deepmind/dm-haiku/blob/master/examples/mnist.py) and updated it to use `optax` syntax.

The only reason that I can think of is perhaps I'm training for fewer epochs. The original example uses `10,000` epochs whereas I've used `{50, 100, 200}`.

What do you think ?

[2021-02-10 22:13] n2cholas commented on #20
Another option is to store the hyperparameters in the optimizer state, similar to this [new proposed optimizer API for Flax](https://github.com/google/flax/pull/1011), so users can explicitly change them as needed in the training loop. This has the added benefit of making logging these hyperpameters (e.g. to tensorboard) much easier.

[2021-02-10 22:23] n2cholas commented on #21
That sounds good @mtthss, I'll make a PR for that!

The utility function would be pretty trivial:

[code]

To be honest, calling this function is about as much code as the computation itself, so I don't think it makes sense to provide it. What do you think?

[2021-02-11 12:07] mtthss commented on #21
Good point, and apologies for the confusion, you are absolutely right.
Maybe worth clarifying better in the doc string.

[2021-02-11 14:05] n2cholas commented on #21
Great, I'll work on a PR for this. I think the doc string is fine (it shows the update expression), I just didn't read it closely 😅.

[2021-02-15 01:20] DaniyarM opened #24 "How to use rectification with other optimizers?"
I want to use rectification from radam with adabelief optimizer, as suggested by the author of adabelief. How can I do that?

[2021-02-15 08:15] n2cholas commented on #20
Another possibility is to create a wrapper, like below:

[code]

Example usage:

[code]

This is much less intrusive (don't need to change existing transformations), easier to test, and more general than the other ideas above.

[2021-02-15 08:37] n2cholas opened #25 "Option to not decay bias with additive_weight_decay"
Currently, `additive_weight_decay` will decay all the parameters. [Jia et al. 2018](https://arxiv.org/abs/1807.11205) show it is beneficial not to decay the bias parameters (and only decay the weights). Many training examples implement this too, such as [Flax's Imagenet example](https://github.com/google/flax/blob/master/examples/imagenet/train.py#L119-L121).

One way to support this is to add a `

[2021-02-15 09:37] mtthss commented on #25
This seems great, maybe to be more clear you could name the argument `decay_scalars`

[2021-02-15 09:44] mtthss commented on #24
It's on my TODO list to abstract the rectification in a way that is composable with different transforms.
Hopefully I can get to this in the next couple of weeks, also happy to accept contributions if someone is interested? :)

[2021-02-15 10:21] n2cholas commented on #25
I don't think `decay_scalars` is the right term, since we want to not decay parameters with only one dimension (i.e. vectors). `decay_one_dim_params: bool` would be accurate, but is a mouthful 😅. Maybe `decay_vectors: bool`? (though that isn't entirely clear).

[2021-02-15 10:26] mtthss commented on #25
Maybe we should just allow to provide a mask instead?

The new constructor argument could be an (optional) py-treee of the same structure as params and grads,
that specifies for each element in the tree whether or not to decay weights.

In the doc string we could also show, as an example, creating the mask by checking `p.ndim > 1`

[2021-02-15 10:37] n2cholas commented on #25
I like that! What do you think of making it a [wrapper](https://github.com/deepmind/optax/blob/master/optax/_src/wrappers.py) instead so it's more generic? The signature could be:

[code]

Another possibility is to make an `apply_if` wrapper, which accepts a predicate. So the signature could be:
[code]
And potential usage:
[code]

[2021-02-15 10:46] mtthss commented on #25
I think making it a wrapper sounds great.

I prefer your first proposed API as it allows the user more freedom in **how* the mask is constructed.
For instance in many neural networks libraries in JAX the params structure include some form of scoping, and it is common to filter based on the names instead of the shapes alone.

Maybe name it just `mask` instead of `masked_apply`

[2021-02-15 10:50] n2cholas commented on #25
Right, that makes sense. I also agree the name `mask` is cleaner. I'll create a PR for this soon!

[2021-02-15 11:49] mtthss commented on #24
For instance instead of having a monolytic `scale_by_radam`,
we could have a wrapper like this:

[code]

That you can use on any adam-like inner transform,
So that the current `scale_by_radam` becomes:

[code]

But you could also combine it with other adam like updates such as `scale_by_belief`
WDYT? do you think this would be helpful?

[2021-02-15 12:04] DaniyarM commented on #24
@mtthss
I thing that it is a good idea. But could it be used in chain like that:
[code]
?
I'm very new with optax at now...

[2021-02-15 12:09] mtthss commented on #24
The wrapped `GradientTransformation` would itself be a `GradientTransformation`.
So you would do somethiing like this:

[code]

[2021-02-17 22:59] joaogui1 commented on #10
I'll try tackling this

[2021-02-18 19:10] mtthss commented on #10
Awesome!

[2021-03-01 18:57] n2cholas commented on #20
Any thoughts on this wrapper @mtthss?

[2021-03-01 21:58] mtthss commented on #20
I find your last proposal very interesting!
Apologies for the delay in replying.
I'll get back to you tomorrow

[2021-03-01 22:02] mtthss commented on #20
I think the `scheduled_transform` wrapper probably should accept also fixed hypers without having to partial them

E.g. we could easily change it so that your example above would just become:

[code]

We would probably want to find a better name than `scheduled_transform` though :)

[2021-03-01 22:08] mtthss commented on #20
@avital

[2021-03-01 23:42] n2cholas commented on #20
I agree with 2. I think supporting this behaviour is as simple as checking whether the argument is callable in `schedule_fn`:

[code]

I agree with 3 as well, names are not my forté 😅 (the alternative name i was thinking of was `optax.schedule`, though this is not a particularly good name either since we now accept fixed hyper-parameters as well).

I think the name `partial` is interesting. My onl

[2021-03-02 13:06] #25 closed

[2021-03-04 16:09] SauravMaheshkar commented on #11
Just Updating on my Progress. I've been running experiments with 10000 updates. Will open a PR once again, in the same format. Anything I should keep in mind?

[2021-03-09 15:36] dlsmith opened #46 "JITted Adam results in NaN when setting decay to integer 0"
This is due to a bug with integer exponentiation, leading to a divide by zero during bias correction on certain iteration multiples (e.g., 64 for `b1=0`). [This issue](https://github.com/google/jax/issues/5987) is the closest I could get to the root cause. In the interim while the underlying issue is fixed, it could be guarded against in `optax` by casting the decay to a float in the bias correcti

[2021-03-09 16:00] mtthss commented on #46
Interesting, thanks for reaching out!
Let me see what the timeline would be to fix this in core jax itself

Just a note:
if you use Python's type checking or if you are using an IDE like PyCharm that supports Python type checking,
passing an `int` to `adam` would actually raise an error without even having to run the code

Since we explicitly type both `decay` arguments as `float`.

[code]

[2021-03-09 16:01] mtthss commented on #11
Awesome! Will take a look as soon as you send the new PR!

[2021-03-09 16:51] #21 closed

[2021-03-09 18:13] mtthss commented on #46
A fix should have gone in in JAX

[2021-03-09 18:49] dlsmith commented on #46
Thanks for following up. Yea, I absolutely agree on the use of type checking, though it would be unfortunate if correctness relied on opting in to third party tooling, and in a case where assuming promotion semantics fails in a fairly subtle way. In any case, great that the fix came in so fast!

[2021-03-09 21:49] mtthss commented on #46
Yep indeed they were quite quick!
Closing the issue since this should now be fixed

[2021-03-09 21:49] #46 closed

[2021-03-09 21:57] mtthss commented on #20
Naming is not my forte either tbh :)

But I agree on your comment about the name `partial`
If we did call it `partial` then it should not return an already instantiated gradient transformation;

Do you think you could adapt the wrapper to actually behave as a partial? So that for instance you would do:

[code]

[2021-03-09 22:02] mtthss commented on #20
The downside though is that this way it would not be immediately chainable because it doesn't give you back directly a GradientTransformation.

I think your approach is probably best, but could you rename it to `optax.schedule_hyperparams` and support the fixed hyperparam case?

[2021-03-10 11:24] n2cholas commented on #20
@mtthss sounds good, I'll incorporate those two changes and create a PR!

[2021-03-10 20:02] rwightman opened #49 "RMSProp does not match original Tensorflow impl"
A lot of papers using RMSProp have hparams that were tuned with the original Tensorflow impl.

The Optax impl is missing the momentum option and initializes the rms value differently.

TF1 RMSProp (https://github.com/tensorflow/tensorflow/blob/v2.4.1/tensorflow/python/training/rmsprop.py#L126)
* has momentum option
* initializes RMS value to ones

Keras RMSProp (https://github.com/tensorflow/tenso

[2021-03-10 20:14] 8bitmp3 commented on #49
@rwightman Sonnet (for TensorFlow) also has a momentum arg if I'm not mistaken https://github.com/deepmind/sonnet/blob/5a465696383f967d5bffb6599347d9e6c15cef4b/sonnet/src/optimizers/rmsprop.py 🤔 (though it's "not Nesterov momentum")

[2021-03-10 20:17] 8bitmp3 commented on #49
To provide more context, here's a code comparison:

Optax https://github.com/deepmind/optax/blob/70e0dd04c7bad9359b372260c56cd85c731b3cbe/optax/_src/alias.py

[code]

Sonnet https://github.com/deepmind/sonnet/blob/5a465696383f967d5bffb6599347d9e6c15cef4b/sonnet/src/optimizers/rmsprop.py

[code]

[2021-03-10 20:24] 8bitmp3 commented on #49
I wonder if (Nesterov) momentum is something you currently add outside RMSprop 🤷‍♂️ In `/optax/optax/_src/transform.py`

https://github.com/deepmind/optax/blob/01e846a4ca66aa1118428d152cf97ad7b7acaed9/optax/_src/transform.py

[code]

[code]

Sorry I can't read code well 😄

[2021-03-10 22:15] mtthss commented on #49
While it's true that TF1 optims initialised the stats with zero it seems like the community has moved in the opposite direction: for instance optax's initialisation with zeros matches both `Keras`, `PyTorch`, `flax.optim`, `jax.experimental.optimizers`. So I would be weary to overfit to the TF1 initialisation. What we could do is to have an `initial_scale` with default 0, that you can use to initi

[2021-03-11 01:12] rwightman commented on #49
@mtthss yes, an initial_scale arg could achieve my goals

I had taken a look and it appears the snippet below would match RMSProp w/ momentum. I imagine someone else will request momentum as a n out of the box capability at some point as it's fairly common to have it enabled.

One thing to mention re the centered variant, there are two scale params, in TF1 one is init to zero and the other is one.

[2021-03-11 10:32] n2cholas opened #50 "Implement Differentially Private Stochastic Gradient Descent"
Differentially Private SGD (https://cseweb.ucsd.edu/~kamalika/pubs/scs13.pdf) is an important algorithm in private machine learning. Essentially, it is SGD except you clip and add Gaussian noise to per-example gradients before averaging across the batch. I think this would be a useful addition to Optax.

The implementation could be based on the example in the JAX repo: https://github.com/google/ja

[2021-03-11 16:23] 8bitmp3 commented on #50
Are you going to reference your paper — [Enabling Fast Differentially Private SGD via Just-in-Time Compilation and Vectorization](https://arxiv.org/pdf/2010.09063.pdf) (code: https://github.com/TheSalon/fast-dpsgd/blob/main/jaxdp.py)? 😃

[2021-03-11 18:06] mtthss commented on #50
Hi @n2cholas, That sounds great!
I must confess I don't know much about Differentially Private SGD
but it does seem like a valuable contribution!
and since you are an expert in the topic I'd love to have you contribute it to optax!

Making it a GradientTransform sounds great! but I'll defer to your expertise on the topic
maybe we can get the author of the jax repo example to also review?

[2021-03-11 19:46] n2cholas commented on #50
Thanks for bringing it up :smiley:! Our implementation was actually based on the original JAX one, so I thought it'd make more sense to reference that. Our TensorFlow 2 implementation was the complete rewrite (of TFP), which was merged into TFP actually ([PR here](https://github.com/tensorflow/privacy/pull/147)).

Awesome, will do! I'll also loop in my co-authors from the fast DPSGD paper for a re

[2021-03-12 07:16] n2cholas opened #52 "Prevent creating unnecessary momentum variables"
Currently, `optax.sgd` and `optax.noisy_sgd` unconditionally create momentum variables for the parameters, since both rely on `trace`. For `optax.noisy_sgd`, this is unnecessary since `decay` is always `0`. For `optax.sgd`, this is unexpected since `momentum=0` by default (and can be wasteful for large models).

`optax.noisy_sgd` should only require `_scale_by_learning_rate` (with a negation). `op

[2021-03-12 10:29] mtthss commented on #52
Good point!

Yeah `optax.noisy_sgd` should just be
[code]

[2021-03-12 10:30] mtthss commented on #52
And you are right for `optax.sgd` we could check whether momentum > 0 and skip the trace when this is not the case

[2021-03-12 10:30] mtthss commented on #52
Do you want to put together a PR?

[2021-03-12 10:34] mtthss commented on #49
The accumulators of rmsprop/adam have one the semantic of a `mean` and the of a scale` factor
I think everyone sets the mean one to 0, its only the `scale` one that is more controversial (either 0 or 1 depending on the framerwork) so I would suggest `initial_scale` to only refer to that one (i.e. be just a float), the name also then corresponds well to its semantics

Your code looks good,
want to

[2021-03-12 11:12] n2cholas commented on #52
Sure!

[2021-03-12 17:29] rwightman commented on #49
@mtthss valid point, I have some variants of this testing right now, can create a PR.

Would you rather the PR be limited only to `initial_scale` arg addition, or also include the inclusion of trace to the `rmsprop` alias. With #52/#54 there wouldn't be any overhead when momentum defaults to 0.

There are a lot of popular models trained with rmsprop using momentum=0.9. It was/is a default setting

[2021-03-12 19:31] mtthss commented on #49
I think the PR can include both

[2021-03-12 19:59] rwightman commented on #49
@mtthss Since I have this already for my testing, pre PR review. Aside from my formatting changes which will not be included in PR, any issues with

initial_scale changes for rms/stddev:
https://github.com/rwightman/efficientnet-jax/blob/optax/jeffnet/common/optim/rmsprop.py#L8-L64

rmsprop alias update:
https://github.com/rwightman/efficientnet-jax/blob/optax/jeffnet/common/optim/rmsprop.py#L88-L

[2021-03-16 08:39] n2cholas opened #57 "Change masked wrapper to use mask_fn instead of mask"
Currently, `optax.masked` accepts a boolean mask that has the same structure as (or is a prefix of) the parameters pytree. This breaks the pattern of only requiring the parameters during `init` and not before. This issue is to discuss the possibility of changing the `mask` argument to `mask_fn`, which would be a function that takes a parameter pytree as input and returns a mask that has the same/p

[2021-03-16 09:33] mtthss commented on #57
Sounds good,

Lets make `mask` be either a `PyTree` or a `Callable`

[2021-03-16 09:52] n2cholas commented on #57
Great! One slight issue is the `inject_hyperparams` wrapper (#48) has no way of telling whether a callable is a schedule or a fixed hyperparameter, which would make it not compose properly with this proposed `masked`.

An immediate solution that comes to mind is to add an `ignore` argument to `inject_hyperparams`, which accepts a list of hyperparameters to ignore for scheduling:

[code]

I don't t

[2021-03-16 20:27] DavidSlayback opened #59 "Multiple optimizers using optax"
Sorry if this already exists in optax as a feature, but how would you go about making a multi-optimizer (similar to [Flax optim](https://flax.readthedocs.io/en/latest/_modules/flax/optim/base.html#MultiOptimizer)) that could use different learning rates for different parts of a network?

Specifically, I'm have a full model in Haiku with one learning rate for most of the parameters, but different l

[2021-03-17 02:39] n2cholas commented on #59
One possible way to do this is by combining `chain` and `masked`. Here's an example using Haiku where you apply different optimizers to the weights vs biases:

[code]

Once #60 is merged, it will be possible to use `masked` without knowing the structure of the params pytree in advance:

[code]

Does that work for your use case?

[2021-03-17 07:09] #52 closed

[2021-03-17 09:27] DavidSlayback commented on #59
Yeah, that works well for my case, I can create masks for each param group, then do a chain entry for each. I appreciate the help, thank you! Any idea when #60 might be merged? It already looks like I might be able to just copy it to my local repo for now

[2021-03-17 12:25] #57 closed

[2021-03-17 13:38] #49 closed

[2021-03-17 15:57] n2cholas commented on #59
Great! #60 was merged a few hours ago, so you should be able to use it now 😊.

[2021-03-17 17:54] #59 closed

[2021-03-19 12:25] mtthss opened #64 "Add z scale loss used to stabilize training when using bfloat16 and cross entropy losses"

[2021-03-19 12:32] mtthss commented on #64
@levskaya

[2021-03-23 12:37] #20 closed

[2021-03-25 21:25] PhilipVinc opened #78 "[REQ] Conda recipe"
Hi,
I'm the lead developer of NetKet, an established machine learning / quantum physics package.

We have recently finished rewriting our core to be based on Jax (and flax), and recently released a beta version.
Since many physicists seem to use anaconda, we would also like to update our conda recipe.
However, since we depend on Optax, we would need Optax to have a Conda recipe.

Is that something

[2021-03-25 21:39] mtthss commented on #3
We now have documentation on read the docs!
https://optax.readthedocs.io/en/latest/

[2021-03-25 21:39] #3 closed

[2021-03-25 22:54] KristianHolsheimer commented on #3
Thanks @mtthss

It's so nice to walk through the API without being distracted by the code itself. (I just just saw `periodic-update` for the first time, awesome!)

One minor thing.. Some of the sections aren't showing up in the correct hierarchy in sidebar. For instance, "[Apply Updates](https://optax.readthedocs.io/en/latest/api.html#apply-updates)" is listed as a subsubsection (under its predece

[2021-03-26 12:24] mtthss commented on #78
Sounds good!
You can add me as maintainer for the optax recipe

[2021-03-26 12:26] mtthss commented on #78
Or @hbq1 could we list you here as well since you are already listed for the chex recipe?

[2021-03-26 12:30] PhilipVinc commented on #78
I created the recipe here https://github.com/conda-forge/staged-recipes/pull/14398 . You should comment there that you acknowledge you'll be listed as a maintainer.

It's always possible to add/change maintainers later, in any case. So, @hbq1 if you want to be as a maintainer of the optax recipe too, please comment on the  Optax recipe PR.

[2021-03-26 12:34] hbq1 commented on #78
@PhilipVinc Thank you again! Optax 0.0.6 includes all the necessary files in its pypi package.

@mtthss SGTM

[2021-03-30 14:58] PhilipVinc commented on #78
The recipe has been created and will be available in the next hour or so.

@mtthss you are not listed as a maintainer because you did not post in the conda-forge PR.
If you want to be listed, let me know here.

[2021-04-07 12:41] 8bitmp3 commented on #9
Doc string also added, awesome work everyone https://github.com/deepmind/optax/pull/90

[2021-04-07 12:43] 8bitmp3 commented on #6
AdaBelief has been documented https://github.com/deepmind/optax/pull/83 thanks everyone 👍

[2021-04-26 18:53] n2cholas opened #103 "Implement log(cosh()) loss function"
log-cosh is a doubly differentiable alternative to the huber loss. A naive implementation is prone to overflow (since cosh has an e^x term), so I think it'd be a useful addition to the library. Plus, it's implemented in other libraries, such as [TensorFlow](https://www.tensorflow.org/api_docs/python/tf/keras/losses/log_cosh).

If this sounds like a relevant addition, I'd be happy to contribute it!

[2021-04-26 18:55] mtthss commented on #103
This would be a great contribution! Looking forward to it!

[2021-04-26 19:05] n2cholas opened #104 "Stateless Transformation"
Right now, there's some boilerplate for defining simple gradient transformations. If a user wants to implement custom weight decay, clipping, constraints, etc without any state, they still have to define a nested function with an `init` that does nothing, and handle the empty state.

I think it'd be convenient to provide a `stateless` transformation that accepts a function to apply to the updates

[2021-04-28 08:42] #10 closed

[2021-04-28 13:00] mtthss commented on #104
This is an interesting suggestion. Lets discuss our options here a bit more.

Some initial thoughts:

One concern for me is the fact that `optax.stateless` suggests that it handles the empty state,
but it does not immediately suggest that it would do the tree mapping for me as well.

While `on_leaves` allows me to disable it,
it's weird to have to disable something that its not clear was happening

[2021-04-28 18:11] n2cholas commented on #104
Good point @mtthss, I agree it's more transparent to make the `tree_multimap` opt-in instead of the default. I think making `on_leaves=False` by default is a good way to achieve this.

Letting the user do the `tree_multimap` themselves could work too (not `tree_map`, since we're tree-mapping over both updates and parameters). I don't think the following is _too_ bad

[code]

Though perhaps a bit c

[2021-05-02 11:01] 8bitmp3 opened #113 "Fix hyperlink rendering in Optax API docs on ReadTheDocs"
Currently, the Markdown-flavored links (inside Python files) in Optax API docs (from Python doc strings) appear to not render well on the ReadTheDocs site.

For example, in this (https://github.com/deepmind/optax/tree/master/optax/_src/alias.py#L322#L374):

[code]

translates into this (https://optax.readthedocs.io/en/latest/api.html#rmsprop):

<img width="500" alt="image" src="https://user-images

[2021-05-05 09:18] mtthss commented on #113
Hi thanks for raising this.

Lets go with this formatting:

[code]

The arxiv link should still be clickable right?

[2021-05-06 13:18] joaogui1 commented on #64
Is there a reference for this? I could try implementing it

[2021-05-08 21:38] 8bitmp3 commented on #113
@mtthss Plain URLs for arXiv seem clickable on Haiku's site. Will open a PR.

[2021-05-16 23:39] 8bitmp3 commented on #113
@mtthss I think because we can't fit the URL of Tieleman and Hinton's lecture slides onto 1 line - the preferred line length is 80 or something - it still renders a bit funny:

<img width="500" alt="image" src="https://user-images.githubusercontent.com/19637339/118416452-ac36d380-b6a7-11eb-914a-2f890abb6418.png">

Since the URL is long, do you know if it can (by)pass the tests if we go over the 80

[2021-05-17 08:55] mtthss commented on #113
I see, yeah I think the docs might not handle well breaking lines.
You should be able to use `pylint:disable=something` to avoid the linter complaining about the 80 character limit

[2021-05-17 16:46] #103 closed

[2021-05-22 15:05] 8bitmp3 commented on #113
@mtthss Let's try this - from [StackOverflow](https://stackoverflow.com/questions/30667612/pylint-overriding-max-line-length-in-individual-file):

[code]

which should disable `pylint=max-line-length=80` for one line only.

https://github.com/deepmind/optax/blob/823af5810cf6af2ee4913771792f42fe24449ee0/.pylintrc#L265

It might help with this TODO:
https://github.com/deepmind/optax/blob/823af5810cf

[2021-05-24 21:19] altosaar opened #128 "How to combine parameters from different haiku modules?"
In PyTorch, it is possible to have a single optimizer for different `nn.Module` sets of parameters, and there are various ways to combine different modules' parameters.

For example, from https://github.com/altosaar/variational-autoencoder/blob/dfb452b5421e9e5b97315c6420b8766ac86f3f4f/train_variational_autoencoder_pytorch.py#L216:

    optimizer = torch.optim.RMSprop(        list(model.parameters(

[2021-05-29 09:21] n2cholas commented on #128
Yes, you can simply create a collection combining all your parameters, then pass that to `tx.init`. Below's an example:

[code]

How does that sound?

[2021-05-29 09:48] n2cholas opened #129 "Feature Proposal: multi-optimizer / multi-transform"
Currently, to apply different optimizers to different sets of parameters, you need to construct multiple masks and chain them. For example, to optionally apply weight decay to some parameters and not to others:

[code]

However, this has a few issues:
1. When you have more than two groups, creating mask functions for them all becomes verbose
2. The burden of verifying the masked groups are mutuall

[2021-05-31 15:08] avital commented on #129
I agree that it's hard to make sure that masks don't overlap thus I agree with the motivation here.

But I am concerned about the proposed API because it means you have to keep track of integer indices in the first argument to `multi_transform`. And if someone adds another optimizer somewhere in the list (not at the end) then things will silently fail.

Can there be an API that looks somehow more

[2021-05-31 17:54] n2cholas commented on #129
Good point @avital, I like that idea. I think the example in my post is a bit too simple, here's something more realistic that illustrates the issue and your proposal for new readers (assuming we use Flax Conv and BatchNorm layers):

[code]

Should the `multi_transform` check that users provide a transform for all parameters? i.e., check that the union of all the masks covers all parameters. This

[2021-06-01 12:48] andsteing commented on #129
Another simple modification to your original proposal would be to simply use `dict` instead of `Sequence` when providing the individual gradient transformations, and then to refer to them via their key, i.e.

[code]

[2021-06-01 13:06] altosaar commented on #128
Thank you so much! This is what I was looking for :) and solves the problem nicely!!!

[2021-06-01 13:06] #128 closed

[2021-06-01 14:15] mtthss commented on #129
Thanks @n2cholas for kicking off the discussion!
I like the version by @andsteing where the set of transforms is a dict
and the partition function returns the keys

In particular I like that:
1) it makes it clear that the order doesn't have a meaning
2) keys feel less brittle than indices

[2021-06-01 15:02] n2cholas commented on #129
I like @andsteing's version as well!

Question on naming: what's a better name than `partition` for the second argument? My issue with partition is in other Python libraries, partition is a function that takes one collection and returns two (e.g. `itertools.partition`, [`haiku.data_structures.partition`](https://dm-haiku.readthedocs.io/en/latest/api.html#haiku.data_structures.partition)). In our c

[2021-06-21 02:06] n2cholas opened #141 "__all__ is currently not useful in __init__.py"
`__all__` in the `__init__.py` overrides which functions are imported when a user does `from optax import *`. It seems like every function in that file should be exposed through a wildcard import, so there is no need for the `__all__`. Besides being redundant, having it creates opportunities for bugs: right now, many of the functions (e.g. `maybe_update`, `keep_params_nonnegative`) are imported bu

[2021-06-22 10:36] #129 closed

[2021-06-23 16:30] wdphy16 opened #144 "Norm of complex numbers"
When using `clip_by_global_norm` on gradients of complex parameters, it seems we need to change `jnp.square(x)` to `x.conj() * x` in the function `global_norm` in `_src/linear_algebra.py`.

How is the current status of complex number support in Optax? I'm using neural networks in quantum physics, and I'd be happy to help JAX community to enhance complex number support. I guess I'll encounter more

[2021-06-24 01:08] Michiel29 opened #145 "MultiSteps does not work with update functions that require parameters"
The MultiSteps wrapper (https://github.com/deepmind/optax/blob/30947fbc5743adc3e997c6242fa3775834862a74/optax/_src/wrappers.py#L179) for gradient accumulation does not feed parameters to the wrapped optimizer. These are needed for e.g. weight decay (https://github.com/deepmind/optax/blob/30947fbc5743adc3e997c6242fa3775834862a74/optax/_src/transform.py#L547) which I think is used in almost every op

[2021-06-25 10:36] bastings opened #148 "Unclear how to use the optax.dpsgd optimizer with pmap"
Hi,

The `optax.dpsgd` optimizer is special in that it takes per-example gradients as input, and takes care of aggregating them.

There is currently no documentation of how this implementation is supposed to be used with multiple devices (using `pmap`), and there might be a few options to do it.

@n2cholas is this something you have thought about?

[2021-06-25 10:53] mtthss commented on #144
Hello,

I must admit we havn't thought a lot about complex number support,
but I'd be happy to accept contributions to improve on this front

[2021-06-26 23:48] n2cholas commented on #148
Hi @bastings! This is a good question: if you naively `pmean` after the `differentially_private_aggregate`, I believe your noise scaling will be wrong. I don't think dividing your `noise_multiplier` by the number of devices would yield the right results either (though please correct me if my math is off).

I think it makes sense for optax to support this directly via a `distributed` argument. For

[2021-06-26 23:52] n2cholas opened #149 "DPSGD example's dataset not shuffled between epochs"
Since the dataset is turned into a list, the same batch order and batches are used for each epoch:

https://github.com/deepmind/optax/blob/30947fbc5743adc3e997c6242fa3775834862a74/examples/differentially_private_sgd.py#L131

Training loop:

https://github.com/deepmind/optax/blob/30947fbc5743adc3e997c6242fa3775834862a74/examples/differentially_private_sgd.py#L163-L168

The dataset should not be tur

[2021-07-08 02:18] davidlee321 opened #157 "Import optax on Colab gives: cannot import name 'flags' from 'jax.config'"
I understand that this seems to be a Colab notebook specific error. If not appropriate to raise issue here, would be happy to raise it elsewhere. :)

[code]

[2021-07-08 21:26] charmerDark commented on #11
Hey ! I am interested in trying to reproduce competitive gradient Descent from [Schafer et al](https://arxiv.org/abs/1905.12103). Could I give it a try?

[2021-07-14 13:21] bastings commented on #148
Thanks @n2cholas ! Sorry for the wait.

I think we might want to have the *same* RNG on each device right? Since then we will make the same update across devices, otherwise the parameters will diverge.

Or, we make different updates (with different noise), and we aggregate, and we need to increase the noise multiplier to make up for the averaging (this should be fine too).

So:

Pros with idea 1:

[2021-07-15 13:42] PhilipVinc opened #159 "What does optax.mask do?"
I don't understand what `optax.mask` does.

I would expect that the masked optimizer
[code]
would only apply the optimisation to sub-leafs of `Dense` and return `0` for `bias`.
However it seems to me that the masked updates are correct for sub-leafs of `Dense` (so where the mask is True, but they are the identity where the mask is False.

Is this intended behaviour? it seems rather strange to me.

[2021-07-15 13:45] PhilipVinc opened #160 "optax.mask does not play well with flax FrozenParams"
The mask must be returned/given as a frozenDict, which is annoying.
I'm not sure this is really an optax bug... but could something be done to alleviate this?

This also shows up in `multi_transform`, where the fix is less obvious because it internally builds a dict, therefore the only way to make it work is to unfreeze the params before giving it to the optimiser, which is... inconvenient.

[code

[2021-07-16 03:18] n2cholas commented on #148
Good point, I totally missed that fact. I agree idea 1 is the better way to go! I don't think it is dangerous to generate the same noise on each device, since the whole point of prng-keys is to be able to do this type of stuff (deterministically generate random noise).

[2021-07-17 15:50] wdphy16 commented on #144
I've opened a PR #161 to fix it. We've been using this norm clipping for a while, and we think it's a valid way of generalizing norm clipping to complex numbers.

Another issue is the denominator of Adam (and similar optimizers). Currently PyTorch, TensorFlow and `jax.experimental.optimizers` all have not implemented it for complex numbers, and PyTorch people are having an active discussion pytorc

[2021-07-17 15:56] wdphy16 opened #162 "Weight normalization"
Is there an equivalent to `flax.optim.WeightNorm`? As `flax.optim` is effectively deprecated in favor of optax, I would like to see it implemented in optax.

[2021-07-28 16:16] pharringtonp19 commented on #159
@PhilipVinc  Any success on understanding why this behavior occurs?

[2021-07-30 13:31] bastings commented on #148
There's one issue with it I figured: if someone uses a hardware RNG, then the parameters on the various devices will diverge. If that happens it should be visible in terms of performance quite quickly, but it's a concern.

[2021-07-30 16:01] nataliaponomareva commented on #148
- For the option 1, a couple of questions, If a device gets restored and gets the same seed as before, does the sequence of random numbers restart (e.g. is it the same as was used in previous batch from this device). If yes, we are better of with different seed/different sequence

- Both option 1 and 2 are "correct" - we will add the correct noise to the aggregated gradients. We just need to scale

[2021-08-05 16:18] hbq1 commented on #157
Hi, sorry for the delay in answering! Is this still the issue with the latest version of optax and jax?

[2021-08-09 19:56] rosshemsley commented on #149
It is a little hidden, but the shuffle on the dataset is happening in the function that creates the dataset:

https://github.com/deepmind/optax/blob/30947fbc5743adc3e997c6242fa3775834862a74/examples/datasets.py#L59-L62
(the default value for `shuffle` is `True` here)

For using a `list()`, according to the docs for `tf.data.Dataset`, it seems this is considered idiomatic in TF2:
https://www.tensor

[2021-08-09 20:13] rosshemsley commented on #141
`__all__` can be a useful way to communicate explicitly the intended public API, and is considered good practice according to [PEP8](https://www.python.org/dev/peps/pep-0008/#public-and-internal-interfaces).

This can help to avoid, for example, leaking global constants declared in `__init__.py` into the public interface.

You raise an interesting point that not all functions have been added to th

[2021-08-11 02:28] n2cholas commented on #141
I agree with the motivation in PEP8, and think `__all__`s are useful in other libraries, but I think the situation is different here. Optax already keeps all the source in the private `_src` folder and imports necessary symbols explicitly in `__init__`, which already communicates the intended API and prevents leaking constants, thus makes the `__all__` redundant.

[2021-08-11 02:53] n2cholas commented on #159
This is intended behaviour. `optax.masked` controls which gradients the inner transformation will affect. In your example, you pass in gradients that are all ones. `optax.masked(optax.sgd(0.1), {"Dense": True, "bias": False})` says apply the `sgd` transformation to the `Dense` gradients, but not the `bias` gradients. One motivating use case is applying weight decay to only some of your gradients.

[2021-08-11 02:57] n2cholas commented on #160
This is intended behaviour, and I agree that it is annoying :). There's some discussion (https://github.com/google/flax/issues/1223) about changing Flax to return normal dictionaries instead of Frozen ones. In my own code, I immediately unfreeze parameters after initialising Flax modules.

Does that help? I would prefer not to make a special case here for FrozenDicts, as it would break the mental

[2021-08-11 09:23] PhilipVinc commented on #159
@pharringtonp19 sorry i was on holiday.
@n2cholas I eventually had figured this out. I admit, this behaviour makes complete sense within the framework of `gradient transformation` of optax, however it took me a while to figure it out.

the current docstrings states `Mask updates so only a subset of them are computed.` .
In optax view, that means that only a subset of the gradient are transformed,

[2021-08-11 15:55] PhilipVinc commented on #159
I will tomorrow

[2021-08-12 15:03] pharringtonp19 commented on #159
Out of curiosity here, when we `jit' the training loop, are the gradients that we zero out computed? I am wondering whether XLA realizes that we don't need those gradients and therefore doesn't compute them in the first place.

Is there a simple way to check this?

[2021-08-12 15:06] PhilipVinc commented on #159
I think it does, because Dead Code Elimination will see that they are not used anywhere. (`zero_grad` calls `zeros_like`)

[2021-08-27 14:20] andsteing opened #173 "Add `dtype` arguments for accumulators in Adam/Momentum"
The `optax.trace()` gradient transformation already has a `accumulator_dtype` argument, but that is not yet exposed in the `optax.sgd()` alias that is commonly used for creating a SGD optimizer with momentum.

Similarly, it would be nice to have a `dtype` argument for the accumulator(s) with `optax.adam()`, which would allow to use Optax for replicating papers like [Scaling Vision Transformers (Zh

[2021-08-31 07:30] lukaszlew opened #175 "'zero' optimizer would be useful with multi_transform"
It would allow to disable optimization of some parameters.

[2021-09-09 15:26] mkunesch opened #184 "Lookahead params test does not check fast parameters."
As surfaced by PR #165 the tests for the lookahead optimizer do not check whether the fast parameters are passed to the fast optimizer.

[2021-09-09 16:15] rosshemsley opened #185 "Add documentation for `maybe_update`"
Add documentation for `maybe_update` as currenlty the [relevant reference page](https://optax.readthedocs.io/en/latest/api.html#maybe-update) on github is empty.

[2021-09-10 13:14] GregCT commented on #157
I'm going to close this as it [seems to be working now](https://colab.research.google.com/drive/1d7bvIIiF9zc84ZbmotiZb6E_8qzp_TuQ?usp=sharing).

But please feel free to reopen if it's still not working for you!

[2021-09-10 13:14] #157 closed

[2021-09-20 14:30] mkunesch opened #188 "Add documentation of wrappers to README"
The Readme currently does not mention wrappers and functionality like `MultiSteps`. Add documentation of this to the readme to make it easier to discover these features.

[2021-09-21 14:03] #141 closed

[2021-10-13 12:13] wdphy16 opened #196 "[RFC] Proposal for complex-valued optimization in Optax"
As mentioned in #144 , we would like to help enhance the support for complex numbers in the JAX community. The detailed proposal document is here: https://gist.github.com/wdphy16/118aef6fb5f82c49790d7678cf87da29

In brief, we need to properly implement the norm of complex variables in the optimizers. We need to decide whether to implement the complex norm, the split real norm, or both of them.

Al

[2021-10-14 15:01] NeilGirdhar opened #197 "Prevent unnecessary recompilation due to closures in optimizers"
Now that Jax supports dataclasses as PyTrees, would it be possible to switch to using them instead of namedtuple?  The benefits are explained [here](https://www.python.org/dev/peps/pep-0557/#why-not-just-use-namedtuple).

The biggest benefit would be preventing unnecessary recompilation.  The current Optax code uses closures, which will cause Jax to unnecessarily recompile a jitted function that a

[2021-10-21 10:09] mkunesch commented on #145
As I understand, this bug was fixed by #150 at the time so I am closing this issue for now. Thanks a lot for reporting!

[2021-10-23 19:46] #173 closed, assigned to nobody

[2021-10-27 22:15] billmark opened #205 "Documentation should be more precise about allowed array shapes"
optax.softmax_cross_entropy accepts inputs of shape [..., num_classes] and returns a result of shape [...].  This behavior should be clearly documented but is not.

Likewise for other loss functions.

[2021-10-29 16:46] mathemakitten opened #206 "Extracting learning rate from optimizer state directly"
Hi! I'm trying to extract the learning rate from an optax optimizer directly for logging to Tensorboard.

I know I could get it from my learning rate schedule object instead by passing in `step`, but we've previously run into situations where the optimizer step # and expected step # went out of sync (our fault, not optax's), so to be safe we'd like to get it directly from the optimizer object. In

[2021-10-31 23:13] mkunesch commented on #206
Hi! Thanks for the question!

The optimizers themselves do not have any internal state and by default optimizers that use a learning rate schedule only store the current step in the optimizer state, not the current learning rate. There are two ways around this which worked well for me in the past:

- You can get the step from the optimizer state and pass it to the schedule: optimizers that use a s

[2021-11-04 16:08] mtthss commented on #188
Closed by https://github.com/deepmind/optax/pull/207

[2021-11-04 16:08] #188 closed

[2021-11-04 16:16] mkunesch commented on #104
I really like the `optax.stateless` suggestion! As you said, it would make defining simple transformations much easier.

An additional consideration would be how hyperparameters should be handled, e.g. for the `weight_decay` parameter in `add_decayed_weights`. We would need a function that creates a gradient transformation so that we can pass it e.g. to `inject_hyperparams`.

With your current sug

[2021-11-05 08:59] rosshemsley opened #209 "More flexible type annotations for schedules."
Step variables  schedules have type `int` instead of `Union[float ,int]`.

This is because the schedules are used for controlling learning rate schedules from integer step counts.

Users have requested that we make it possible to use schedules in other contexts, where the input would no longer be an integer.

One option here would be to admit more general types in the typings, and then remove spec

[2021-11-05 11:14] mtthss commented on #205
Fixed in https://github.com/deepmind/optax/pull/210

[2021-11-05 11:14] #205 closed

[2021-11-05 14:04] n2cholas commented on #104
Awesome, thanks @mkunesch! I'll get started on a PR.

[2021-11-05 14:06] mtthss commented on #104
Great, thanks @n2cholas! And apologies for the slow turnaround on this issue.

[2021-11-05 18:10] mkunesch commented on #104
Thanks a lot @n2cholas! Also, I didn't get back to your separate point about `@optax.multimap_update`.

I agree that this would simplify quite a few optimizers, but I think there are two potential downsides:

1. it could cause confusion when update functions across optax or user code sometimes operate on trees and sometimes on leaves.
2. for an arbitrary state I think the mapping could become conf

[2021-11-08 09:27] mtthss commented on #104
+1 to @mkunesch analysis

[2021-11-08 11:05] mkunesch commented on #184
This has been fixed by #214.

[2021-11-08 11:05] #184 closed

[2021-11-11 09:23] jecampagne opened #221 "Reduce_on_plateau"
Hi,
 in the learning rate schedule list it may be useful to add a "reduce on plateau" scheduler which looks during a certain number of epochs if the loss is decreasing, and if not divide the learning rate by a certain amount. (possibly clipped by a minimal value).
In Pytorch  I experience that in turns out to be useful for some of my use-cases of optimizing CNN.

[2021-11-11 18:24] froystig opened #222 "drop python 3.6 support?"
We dropped support for Python 3.6 in our [0.2.18 release](https://jax.readthedocs.io/en/latest/changelog.html#jax-0-2-18-july-21-2021) of JAX. Optax still seems to support py3.6 in that [github checks run tests on it](https://github.com/deepmind/optax/blob/f777e5ce8df4fc78b1f98fdfc5abe813da5ceef6/.github/workflows/tests.yml#L16). This blocks changes such as #200 that break compatibility with jax 0

[2021-11-12 13:39] rosshemsley commented on #221
Hey @jecampagne, thanks - this is a good suggestion - it could be a good example to introduce `inject_hyperparameters`.

We will leave this issue open on our backlog and consider working it into our next documentation push.

[2021-11-14 16:02] pharringtonp19 commented on #197
@NeilGirdhar This seems like a really nice/intuitive idea.

At a high level, your proposal would allow us to "parameterize" an update function in such a way that we could we then `vmap` the update function across values of these parameters. Is that correct?

[2021-11-14 16:36] NeilGirdhar commented on #197
@pharringtonp19 Yes!

[2021-11-15 09:48] mtthss commented on #1
Does the `inject_hyperparameters` wrapper solve the optimisation of metaparameters?

Since this allows you to feed in updated hyper-parameters on every step, it should also allow to take gradients with respect to these (havn't tested it yet), wdyt?

[2021-11-15 09:49] mtthss commented on #64
@levskaya could you provide any reference for this?

[2021-11-15 16:18] pharringtonp19 commented on #197
@NeilGirdhar Based on [this discussion](https://github.com/google/jaxopt/issues/65) in [jaxopt](https://github.com/google/jaxopt), I wonder if the authors of that library might have any thoughts on this proposal.

Additionally, I think this proposal would allow us to implement some of the features that [higher](https://github.com/facebookresearch/higher) provides to pytorch

[2021-11-15 19:59] NeilGirdhar commented on #1
@mtthss I don't see the wrapper, but I just use rewrote your transforms as dataclasses: https://github.com/NeilGirdhar/tjax/blob/master/tjax/_src/gradient/transforms.py  Since these are pytrees, I can differentiate with respect to their parameters.

[2021-11-15 20:05] NeilGirdhar commented on #197
Are you suggesting implementing my proposal somewhere else?

In case you didn't know, I ended up implementing all of the optax transforms as dataclasses here: https://github.com/NeilGirdhar/tjax/blob/master/tjax/_src/gradient/transforms.py  As you can see, this isn't any more complex than what optax currently does.

Of course, my dream is not to have to maintain this, but for optax to simply repla

[2021-11-15 22:46] pharringtonp19 commented on #197
@NeilGirdhar I just thought that as experienced users of optax, they might offer better insight, than an end user like myself, on the pros/cons of such a proposal

[2021-11-15 22:56] NeilGirdhar commented on #197
Good idea 💖

[2021-11-16 11:34] rosshemsley commented on #197
@mtthss is now back, and we are taking a look at this in more detail :)

[2021-11-16 17:51] mtthss opened #228 "Make a meta-gradient example in the docs"

[2021-11-16 17:53] #64 closed

[2021-11-16 17:53] rosshemsley opened #229 "Move examples from Readme into docs."
We have a number of examples in the Readme, but we should move them to ReadTheDocs.

[2021-11-16 17:57] mtthss commented on #11
@charmerDark hey, are you still interested in implementing this?
We are closing this "catch all" issue, but feel free to open an issue specifically for making an example reproducing competitive gradient Descent?

[2021-11-16 17:57] #11 closed

[2021-11-17 13:56] wdphy16 commented on #196
Hi @rosshemsley , sorry for the late reply. I've written the proposal document and edited the first comment of this issue.

[2021-11-17 14:14] mtthss commented on #144
Closing this issue, lets continue the discussion in #196

[2021-11-17 14:14] #144 closed

[2021-11-17 15:12] Carlosbogo commented on #229
Hi, I would like to work on this. Is there anyone doing it already?

[2021-11-17 16:00] n2cholas commented on #104
No more action needed on your side @mtthss, I'll work on this over the weekend!

[2021-11-18 09:46] mtthss commented on #196
Thanks @wdphy16 for sharing such a thoughtful and detailed proposal.

I think we should certainly implement the split real norm approach described in your doc.
That is an enhancement of the current capabilities of optax with literally no downsides,
as those who are not interested in complex number will just continue not to use the `split_complex ` wrapper.

Could you put together a PR for this?

A

[2021-11-18 17:36] #228 closed

[2021-11-18 17:56] mtthss commented on #1
The current approach where hyper-parameters are captured as closure is designed to keep two things separate:

* the definition of the optimiser, statically captured in closures
* the dynamic state of the optimiser, captured in the `opt_state`

The crux is then: how do we enable users who want to make the optimiser's definition dynamic?

One possibility is to drop entirely the distinction between s

[2021-11-18 18:01] mtthss commented on #197
We are still discussing/investigating the compilation issue you raised, and we hope to be able to discuss this with you soon.

In the meantime, please take a look at our preferred approach for the meta-learning issue
https://github.com/deepmind/optax/issues/1#issuecomment-973117644

The two issues could be seen as closely related, as until recently we wouldn't have been able to expose the optimise

[2021-11-18 18:20] NeilGirdhar commented on #1
I think you've misunderstood.  I'm not suggesting that you drop this distinction.  The distinction is good.

I'm merely suggesting that you store the optimizer definition using a pytree rather than a closure.  Jax is horrible with closures.  Pytrees allow vectorization, gradients, and prevent recompilation of jits.

I've already coded this.  Is there any problem with lifting [my code](https://gith

[2021-11-18 20:01] mkunesch commented on #149
Hi all!

Thanks @n2cholas for raising this!

I agree that we should not turn the dataset into a list. I have tried removing the list and I don't observe a big performance drop on CPU and GPU. There is a small change on GPU 0.7 --> 0.9 secs per epoch but this can be solved by adding `prefetch(tf.data.AUTOTUNE)` to the datasets.

I have filed PR #230 for removing the conversion to list and adding pr

[2021-11-18 20:13] mkunesch commented on #229
Hi! That would be great - thanks a lot!

@rosshemsley recently added a similar example to ReadTheDocs in PR #231 so it might help to look at that PR (to roughly match the style and see where the files should go).

Thanks a lot again and let us know if you have any questions!

[2021-11-19 08:27] mtthss commented on #1
I am afraid I don't follow, isn't "taking derivatives with respect to parameters of the optimizer." exactly what `inject_hyperparams` enables in this example I shared above?
https://optax.readthedocs.io/en/latest/meta_learning.html

[2021-11-19 09:59] mtthss commented on #197
@NeilGirdhar I think you are correct that in some cases we do want to pass the optimiser as input. However you **can** pass the optimiser as input by doing:

[code]

Since in the optax design the dynamic state is in the `opt_state` and not in the opt itself this is safe to do.

[2021-11-19 10:05] mtthss commented on #197
I think this solves the issue from this thread

It leaves open the question as to whether we need the dataclass approach to expose opt hyperparams to learning. to consolidate the discussion I will close this issue and leave open the sister issue (#1 ) where you suggested the use of dataclasses to expose metaparams to learning.

lets continue discussing there.

[2021-11-19 10:05] #197 closed

[2021-11-19 11:20] mtthss commented on #148
It seems like the issue is resolved. Please reopen if needed.

[2021-11-19 11:20] #148 closed

[2021-11-19 17:38] NeilGirdhar commented on #197
I'm happy to close this as a duplicate of #1 😄

However, I want to point out that passing the optimizer statically does not solve the problem in this issue.  The issue is called "prevent unnecessary recompilation".  If you pass the optimizer, you will find that the jit will recompile every single time `inference` is called.  You can verify this by adding a `print` statement inside `inference` and

[2021-11-19 17:40] mkunesch opened #237 "Add sparsity regularisation to optax"
### Discussed in https://github.com/deepmind/optax/discussions/235

<div type='discussions-op-text'>

<sup>Originally posted by **renjithravindran** November 19, 2021</sup>
Hi, how can I add an L1 regularization to a subset of parameters?
Thanks. </div>

[2021-11-19 17:44] mkunesch commented on #237
@renjithravindran : as I said in the discussion, please reach out if you have any questions as you implement this!
Thanks a lot!

[2021-11-19 19:50] rosshemsley commented on #197
Hey @NeilGirdhar, to help us ensure we are looking at the same thing, do you think you could write a short example of the recompilation issue in a google colab?

[2021-11-19 19:59] NeilGirdhar commented on #197
@rosshemsley Sure, I'll just paste it here so that we have it:
[code]

[2021-11-19 22:09] rosshemsley commented on #197
Thanks for the example!

Indeed, I think the optax recompilation happens because JAX is seeing that you are giving it arguments , that are not pytrees, that have a different hash.

In JAX, this will always cause a recompilation (so this is very much working as intended).

I suspect the tjax example works because the hash of the objects is the same - which is due I think to your `dataclass` being c

[2021-11-19 22:11] rosshemsley commented on #197
(by the way, I tried to run your example in this colab, but the tjax code failed - I didn't dig too deep, but it would have been cool to try it!)

[2021-11-19 22:14] NeilGirdhar commented on #1
If you'll indulge me, I'd like to make sure we're on the same page about what static and dynamic means in the context of JAX.  I don't know that it's really well explained anywhere, and it's something that it's easy to misunderstand.

Dynamic JAX objects must be "JAX types", which means numbers, arrays.  When passed to the JIT, they form the arguments to the compiled program.  Calling the jitted f

[2021-11-19 22:24] NeilGirdhar commented on #197
Exactly.

Actually, the hash of the objects is not the same.  They are different objects, and they don't have hash values at all.

The reason the tjax example works is because the dataclasses are pytrees, and JAX will only hash the type of the tree and its static fields (of which there are none).

Nope.  There's no such trickery at all.  I could have used the `flax.dataclass` and achieved the same

[2021-11-19 22:37] NeilGirdhar commented on #197
That looks to be because colab still uses Python 3.6, which tjax's type annotations don't support.  I dropped Python 3.6 as per [NEP 29](https://numpy.org/neps/nep-0029-deprecation_policy.html).

[2021-11-20 04:12] n2cholas commented on #149
Thanks @mkunesch for working on this! I still see the performance degradation with the commit you merged. On a Tesla K80 on colab, I observe 4.62 s/epoch with your latest commit, while it's about 0.41 s/epoch on an older commit.

Here is the notebook: https://colab.research.google.com/drive/14rWb7QQSMNhNQZT_3iIBUhgQr6oH3YTo?usp=sharing. The current output is with the old commit, you can factory re

[2021-11-20 08:52] rosshemsley commented on #197
:) my meaning with "trickery" is that usually dataclasses don't have methods - they are structured data containers. By decorating your optimizer class as a dataclasses, it is treated as data by the JAX API, even though they are "semantically" regular classes with methods and data attributes. I can't shake the feeling that this could break the programming model somehow - although I admit I haven't

[2021-11-20 08:56] rosshemsley commented on #197
I think colab is 3.7 now:

[code]
gives

`sys.version_info(major=3, minor=7, micro=12, releaselevel='final', serial=0)`

[2021-11-20 09:12] rosshemsley commented on #197
I can see where you are coming from with this proposal, so perhaps I can give some context to why we are trying to dig deeper here,

Last week I made the following change to the optax API,
[code]

Which semantically doesn't look like it should change anything, however...
It took nearly three weeks to successfully roll this out to every user of Optax without breaking user code 🥲

Making even small

[2021-11-21 00:19] NeilGirdhar commented on #197
Here's a concrete example:  Training can be used as the application of an iterated function with a fixed point.  Therefore, you can use the "two phase method" (see https://github.com/gehring/fax) to find higher-order derivatives around the fixed point.
 To implement this, you either need to fix the gradient transformation with which you do the updates or else pass it as a parameter to the two-phas

[2021-11-21 13:52] mkunesch opened #240 "Example tests on github"
I think the tests of the examples aren't currently included in `test.sh` and the github workflow. I think they should be included to make sure the examples run straight out of the box.

[2021-11-21 14:04] mkunesch commented on #149
Thanks a lot @n2cholas for pointing this out and for the notebook to reproduce! I'll try to figure out what the difference between the setups is ... it's quite strange that there is no slowdown for me on a similar architecture 🤔.

Thanks a lot for pointing this out! This also affects the lookahead example and there is another error from jax (I think we'll have to increase the jax version requireme

[2021-11-22 09:41] mtthss commented on #197
Hello @NeilGirdhar !

I agree that we need to be able to pass an optimiser to a function without triggering recompilation.
But in your example that is easily done as follows:

[code]

The issue was creating a new optax optimiser within each iteration of the loop, that does and should trigger recompilation,
as you are changing the static definition of the optimiser. But you don't need to reinstanti

[2021-11-22 09:45] NeilGirdhar commented on #197
Yes, but that's the point!  In my opinion, you should be able to pass different optimizer parameters without triggering recompilation.  That's what my example illustrates.

For example, you might try a variety of parameter values and see which is best.

[2021-11-22 12:49] NeilGirdhar commented on #197
Sorry @mtthss I guess I haven't been completely clear.  The point of this issue is to prevent _unnecessary recompilation_.  Yes, it's true that there's no recompilation if you pass the exact same optimizer object.  The point is to support passing different optimizer objects with different parameters.  I don't think there there should not be any recompilation in that case either.

Let me explain my

[2021-11-22 15:54] wdphy16 commented on #196
It turns out that currently `jax.jit` cannot optimize the composition of a multiplication and a power. I did some quick experiments with this debugging function [`make_hlo`](https://github.com/google/jax/pull/7719):
[code]
We can see that in the optimized HLO there is still a multiplication and a power. Actually such optimization does not exactly preserve the floating point arithmetic result, so i

[2021-11-23 07:25] NeilGirdhar commented on #197
@rosshemsley By the way, I was thinking about your concerns about breaking code.  You said: "It took nearly three weeks to successfully roll this out to every user of Optax without breaking user code".

I don't want to break your users' code either.  Here's an idea that provides pytree-like gradient transformation objects without breaking anyone's code.  Implement all of the gradient transformatio

[2021-11-23 13:20] cgarciae commented on #197
Hey, I am very late to this party but I want to support the idea of pytree optimizers:

* Currently you can't access nor modify the hyper-parameters of an optimizers as they are captured by closures, this is inconvenient for code that e.g. would like to try to figure out the base learning rate set by the user.
* Its more convenient for users to pass the optimizers directly to the train_step instea

[2021-11-24 11:39] NeilGirdhar commented on #197
@cgarciae Just so you know, I created a shim in `tjax.gradient` that has all 35 of the optax transforms that solves both your problems:

- You can access all of the parameters using attribute access, and modify them using `dataclasses.replace`, and
- you can pass them dynamically (since they're pytrees), and only the parameters that have to be static are static (preventing recompilation).

[2021-11-24 16:25] rosshemsley commented on #197
(Just writing to reassure you that we have not forgotten about this, it's just a busy week over here :) )

[2021-11-26 11:24] #240 closed

[2021-11-26 11:27] adendek commented on #221
Hello all,

Do you need an open-source contributor? I'd like to help with this.
Could you please give me some hints on how you would like to proceed with introducing *inject_hyperparameters*?

[2021-11-26 12:06] mkunesch commented on #237
(As discussed in #235 I'll close this issue for the time being - please feel free to reopen if you need this feature or if you are working on it)

[2021-11-26 12:06] #237 closed

[2021-11-29 13:46] rosshemsley commented on #221
Hey @adendek, yes, we would welcome contributions here!

The thing that's interesting about this is that the optimizer requires access to the current value of the loss (which is not seen by the current API).

One way to achieve this is to add the current loss as a parameter, and then to inject it using inject_hyperparameters.

There may be others, though.
Please, feel free to take a look and see w

[2021-11-29 13:53] PhilipVinc commented on #196
@wdphy16 can you update the PR to use the if-else statement and fix ADAM? I think this should be good for @mtthss

[2021-11-29 14:06] wdphy16 commented on #196
Yes, I've updated the PR about the if-else statement. The PR #241 is only for `split_norm`, and for `adam` I think we can have another PR.

[2021-11-29 16:05] pharringtonp19 opened #247 "Custom_vjp/jvp for parameter update functions"
In some examples of bi-level optimization, like maml, we want to differentiate the parameter update function.

Is it possible to write custom_vjp/jvps for these update functions? -- Thanks

[2021-11-29 16:28] mtthss commented on #247
Could you elaborate on what exactly you want to differentiate?
Most likely you don't even need to write custom_vjp/jvps
Does the following example help?

https://optax.readthedocs.io/en/latest/meta_learning.html

[2021-11-29 16:40] pharringtonp19 commented on #247
@mtthss  Thanks for the response

Consider the toy example below -- I first posted this as a [discussion question in jax](https://github.com/google/jax/issues/8710), but realized that in order to provide the additional information that is requested, I needed to understand whether optax allows for custom vjp/jvp of update functions.

In short, when differentiating through a composition of functions

[2021-11-29 19:26] pharringtonp19 commented on #221
@adendek I would like to help work on this implementation if you need an extra set of hands. I would be happy to discuss this offline via email if you want as well -- pharringtonp19@gmail.com

[2021-11-30 09:29] gitfan7 opened #248 "ImportError"
Could anyone please fix the following error when running "import optax"? Thanks a lot.

ImportError: cannot import name 'apply_flat_fun' from 'jax.api_util' (/usr/local/lib/python3.7/dist-packages/jax/api_util.py)

[2021-11-30 10:26] mtthss commented on #247
Would something like this be what you need

[code]

[2021-11-30 11:29] rosshemsley commented on #197
Hey @NeilGirdhar,

We have discussed these proposals extensively within the optax maintainers team, and gathered feedback from a number of users and developers. We believe that the approach outlined below would be the best way forward,

The request here is for JAX to treat instances of `optax.GradientTransformation` as pytrees. In @NeilGirdhar’s proposal, this means combining optimizer hyperparame

[2021-11-30 11:42] mtthss commented on #1
Please refer to the message https://github.com/deepmind/optax/issues/197#issuecomment-982548377 for our proposed resolution of the issue going forward.

[2021-11-30 11:42] #1 closed

[2021-11-30 14:00] gitfan7 commented on #248
Looking forward to hearing from you. Thanks a lot.

[2021-11-30 15:50] mkunesch commented on #248
Hey! Thanks for the question! I couldn't reproduce the problem in a public colab when running `!pip install optax` and `import optax`. Could you provide more detail (perhaps the versions of libraries loaded would help reproduce the issue)?

[2021-11-30 16:43] pharringtonp19 commented on #247
@mtthss Thanks for the example and your further explanation.

For some reason, I haven't been able to get an extension of your example to work, but it's likely because I am making a mistake somewhere on my end. I will keep playing around this example, and report back when I have found a solution.

[code]

[2021-12-01 12:28] mkunesch opened #250 "Missing type hints"
Some parts of optax do not yet have type hints. It would be great to add them! Files where I've found missing type hints include:

- [x] [utils.py](https://github.com/deepmind/optax/blob/master/optax/_src/utils.py)
- [x] [clipping.py](https://github.com/deepmind/optax/blob/master/optax/_src/clipping.py)
- [x] [linear_algebra.py](https://github.com/deepmind/optax/blob/master/optax/_src/linear_algeb

[2021-12-01 14:29] NeilGirdhar commented on #197
@rosshemsley

Thank you very much this comment, and actually for the whole discussion.  We are all (the Optax team, @cgarciae, me) working towards improving the ecosystem of Jax tools, and we're all in the process of figuring out the best way to do things.  I also want to thank you for considering this issue so thoroughly and for replying so quickly.

I completely agree with your proposal that wai

[2021-12-03 09:11] rosshemsley commented on #247
Hey @pharringtonp19, does the following solve your problem? (i.e. using `has_aux`?)

[code]
`(DeviceArray(2., dtype=float32), (DeviceArray([1, 3, 4], dtype=int32), DeviceArray([5, 6, 7], dtype=int32)))`

[2021-12-03 15:24] pharringtonp19 commented on #247
@rosshemsley I don't believe `has_aux` solves my problem. Since the function I am interested in differentiating is a vector-valued function, I have to use `jax.jacrev` instead of `jax.grad`, and `has_aux` is not yet implemented for `jax.jacrev`

[code]

```TypeError: jacrev() got an unexpected keyword argument 'has_aux'```

[2021-12-03 15:26] hawkinsp commented on #247
@pharringtonp19 Perhaps you are looking for `jax.vjp` instead of `jacrev`?

[2021-12-07 12:04] rosshemsley commented on #247
Hey @pharringtonp19, did you manage to get optax to do what you wanted to do here?

I see you have some JAX questions, but for those it might be best to raise a ticket here https://github.com/google/jax/issues.
If you are happy to follow there, we can close this issue.

[2021-12-07 14:27] pharringtonp19 commented on #247
@rosshemsley I was hoping @hawkinsp might be able to clarify whether the issue that I am struggling with is a jax related issue or an optax related issue. I believe it is a jax related issue so I would be happy to close this for now, and re-open it if I find it to be an optax related one later on.

[2021-12-07 14:27] #247 closed

[2021-12-07 14:34] hawkinsp commented on #247
@pharringtonp19 That sounds like a bug in your code to me.

[2021-12-07 18:36] pharringtonp19 commented on #247
@hawkinsp Thanks!

[code]

[2021-12-08 19:18] Carlosbogo commented on #229
Sorry for the delay, I couldn't find time to work on this until now.

It's my first time working on this repository so I'm not sure what exactly should I do:
Should I remove the examples from the Readme after moving them into docs or should I keep them there?
Should I move them into the [docs](https://github.com/deepmind/optax/tree/master/docs) file or to the [examples](https://github.com/deepmind

[2021-12-09 13:38] dirkweissenborn opened #263 "BUG in lookahead funtion!?"
lookahead update funciton is not using params.fast when calling fast_optimizer.

Snippet:

[code]

[2021-12-09 15:40] mkunesch commented on #263
Hi! I think the bug you are referring to was fixed by #165 with a test added in #214 so it should just be a matter of making sure you are using the latest version of the code.

I'll close the issue, but feel free to reopen if I have misunderstood or there is another problem. Thanks a lot!

[2021-12-09 15:40] #263 closed

[2021-12-09 16:22] rosshemsley commented on #229
Hey @Carlosbogo, no worries about delay - we are happy to have contributors :)

Perhaps we could leave the examples in the readme for now, and start by moving things into the docs?

One thing that could be nice is to extend the Quickstart section to include some of the examples from the docs.

This could be done, e.g. by adding another notebook with the examples in the same style as https://github

[2021-12-14 16:50] mkunesch commented on #248
Hi, I'll close this for now, but please feel free to reopen again if you still run into this issue or if you have more information to help me reproduce it. Thanks a lot!

[2021-12-14 16:50] #248 closed

[2021-12-21 23:03] #104 closed

[2021-12-30 18:56] tomweingarten opened #271 "Nesting 'masked' wrappers gives a confusing error"
The _masked_ wrapper requires the model parameters to be input as a pytree. It flattens that pytree before calling init on its inner optimizer. So if you wrap masked around a optimizer that also uses masked, like lamb, optax throws a mismatched type error. It expects to receive a pytree, but instead receives a flat list of parameters. In the short term, I recommend we throw a useful error when thi

[2022-01-02 04:53] esraa-saleh commented on #250
I would love to start working on this! Has someone been assigned already for all tasks?

[2022-01-02 21:27] mkunesch commented on #250
Hi, that would be great! Nobody has been assigned yet so your contribution would be very welcome.
Thanks a lot and let me know if you have any questions!

[2022-01-03 00:44] esraa-saleh commented on #250
Great! I'll start working on this then, and come back with questions if any come up :)

[2022-01-03 22:22] mkunesch commented on #149
I had time to look into this now: the bottleneck was still the pre-processing on the colab GPU so caching again after preprocessing should solve the problem.
I filed #272 and checked commit 9fe0345 with the notebook @n2cholas sent above and it runs with 0.4s/epoch again now (the same performance we had originally when we were reusing the shuffling between epochs by mistake).

[2022-01-06 17:15] mkunesch commented on #149
I think this issue is now solved: #230 fixes the bug itself and #272 fixes the performance issue that was surfaced by the bugfix. Thanks a lot again for raising this!

[2022-01-06 17:15] #149 closed

[2022-01-13 12:21] mkunesch commented on #196
Hi!

Do I understand correctly that with `split_complex` merged (thanks a lot @wdphy16!!) the section "Split real norm" of the proposal is implemented fully or is there anything outstanding?

If so, the next step would be discussing whether to add the complex norm in addition to the split real norm?

Thanks a lot!

[2022-01-13 12:26] wdphy16 commented on #196
Yes, the split real norm is fully implemented. I've also implemented the complex norm for some relatively simple optimizers and I'll make another PR.

[2022-01-13 12:56] mkunesch commented on #196
Ah that's great, thanks a lot!

[2022-01-15 19:52] evanatyourservice opened #280 "Implement FastAdaBelief?"
Hello! There is a newish paper improving upon AdaBelief, [FastAdaBelief](https://arxiv.org/abs/2104.13790), which is more or less a combination of AdaBelief and SAdam. So far it does seem to match the performance it promises in its paper in my experiments, and it has time-dependent epsilon and time-dependent beta2 so there is only one hyperparameter -- beta1. I have [implemented it here](https://g

[2022-01-16 02:48] Rupt opened #281 "add_noise scales by variance, not its root"
To match its intended variance, [add_noise](https://github.com/deepmind/optax/blob/5fc395b5e49602e3c0027b976d1368755b20cd0b/optax/_src/transform.py#L725) should scale by its square root.
[code]

I am posting this as an issue rather than a pull request since this is a strongly breaking change which deserves some consideration. Thank you for maintaining and sharing optax!

[2022-01-22 01:42] #280 closed

[2022-01-22 01:54] GeoffNN opened #287 "Using optax with partially complex models"
Hello!

I'm trying to implement the Fourier Neural Operator model from https://github.com/devzhk/PINO/, translating the Pytorch code there into jax.
I ran into an issue where the optax optimizer_state becomes complex for _all_ weight matrices of my model, rather than only the leaves corresponding to complex weights in the model. This only happens after a while, and I've only been able to reproduce

[2022-01-22 07:44] PhilipVinc commented on #287
By the way, can you try using master? The current release of optax does not include the changes to work with complex numbers.

Current master silently computes the wrong norm in adam.

[2022-01-22 20:52] GeoffNN commented on #287
Is that true even when passing the conjugated gradients to `opt.update` ?

[2022-01-23 07:54] GeoffNN commented on #287
I understood your earlier comment on Adam. It's currently https://github.com/deepmind/optax/blob/5fc395b5e49602e3c0027b976d1368755b20cd0b/optax/_src/transform.py#L78, but for 2nd moment, should have the complex module ^2, as in https://github.com/pytorch/pytorch/blob/3a03af2f505494582f1359254431f0c47fd88705/torch/optim/_functional.py#L98

[2022-01-24 07:00] GeoffNN commented on #287
I think my initial observation was due to the gradient clipping. The code for computing the global norm for clipping has the same issue as Adam, and squares a potentially complex number, rather than taking the squared module.
https://github.com/deepmind/optax/blob/5fc395b5e49602e3c0027b976d1368755b20cd0b/optax/_src/clipping.py#L102

[2022-01-24 11:09] PhilipVinc commented on #287
Yeah, That's what we tried to argue with optax developers. Hopefully once #297 is merged this will be addressed.

@wdphy16 does PR #279  address gradient clipping as well?

[2022-01-24 12:51] wdphy16 commented on #287
Yes, we're working on this. I just tried your code that if you install my branch:
[code]
the code runs without error. I hope that PR can get merged soon.

[2022-01-24 19:28] GeoffNN commented on #287
Ah thanks! I have a local messy fix, I'll migrate it to yours.

Also, I was pointed to this issue in jax, which you might weigh in on. https://github.com/google/jax/issues/4891
The question is whether jax.grad should return the already conjugated gradient or not.

[2022-01-26 03:42] n2cholas commented on #271
Thanks for raising this issue, @tomweingarten! Does [this](https://github.com/n2cholas/optax/blob/nested_masked/optax/_src/wrappers.py#L328-L344) implementation fix your nested masked issue (install via `pip install --upgrade git+https://github.com/n2cholas/optax@nested_masked`)? If so, you have a minimal version of the code that failed before? I can turn it into a test case.

This version preserv

[2022-01-26 04:22] n2cholas commented on #221
I like this suggestion a lot, @jecampagne! However, it's not clear to me how `inject_hyperparams` would help in this situation. `inject_hyperparams` is a utility that allows you to pass in a `ScheduleFn` where a scalar hyperparameter is expected when the optimizer is created. In its current form, it does not allow you to pass in arbitrary values at runtime, which is what this proposal would requir

[2022-01-26 04:39] n2cholas commented on #160
@PhilipVinc can this issue be closed? It seems like progress on this would come from the Flax side not Optax.

[2022-01-26 04:48] n2cholas commented on #206
I personally don't think Optax needs to provide extra utilities here, since as long as the user wraps all their (top-level) optimizers with `inject_hyperparams`, the learning rate (and other hyperparameters) will always be available in the top-level optimizer state. You can access that value regardless of what the underlying gradient transformation actually is without changing your code, so you do

[2022-01-28 19:02] jatentaki opened #290 "How to freeze parameters?"
I'm looking for a way to freeze parameters in most efficient manner. One would be to take the current `TrainingState` (I'm coming from flax) and manually partition `state.params` like
[code]
and then create a new optimizer for `partially_frozen_state`. The downside of that approach is that it completely mutilates the structure of the pytree, making serialized states incompatible between the frozen

[2022-01-30 05:40] tempdeltavalue opened #291 "TypeError: unsupported operand type(s) for *: 'float' and 'FrozenDict'"
I used a bit modified model from JAX annotated mnist example

[code]

grads looks like this and have shape (1, 224, 224, 1)  (additional question why gradients have shape of input, I thought it should be shape of all params or something like that) and model's params is Frozen dict )
[[[[1.4224441e-05]
   [1.2348691e-05]
   [1.4693377e-05]
   ...
   [9.6913773e-06]
   [9.5350642e-06]
   [1.0785565e

[2022-01-30 17:17] #291 closed

[2022-01-30 17:18] tempdeltavalue commented on #291
My mistake in grad and loss func sorry

[2022-01-30 22:56] ToucheSir opened #292 "Possible discrepancy between AdamW implementation and paper"
Per Algorithm 2:
![image](https://user-images.githubusercontent.com/4062143/151721233-548d3e25-5891-4571-a610-7f44f509b3a8.png)
The learning rate scaling is applied during the Adam step as opposed to after the weight decay as is [done now](https://github.com/deepmind/optax/blob/v0.1.0/optax/_src/alias.py#L270-L273). This is both unintuitive and not very clear since the paper opts to use `α` instea

[2022-01-31 10:42] mkunesch commented on #281
Hi @Rupt!

Thank you so much for reporting this! This is indeed a bug and should be fixed. Normally, I'd say we shouldn't quietly change behaviours but I think in this case it's fine (`add_noise` and `noisy_sgd` don't seem to be used very commonly and we are still in the 0.*.* version numbers).

Do you want to file a PR for this (+ a failing test) or shall I? (We'll release a new version after the

[2022-01-31 11:11] Rupt commented on #281
Thanks @mkunesch for the feedback. This makes sense to me, and I would like to try the PR (with test) now.

[2022-01-31 12:34] mkunesch commented on #281
Amazing, thanks a lot! I'll review the code - we might even be able to include it with the version we want to release with the complex number support (#279) this week.

[2022-01-31 14:54] mkunesch commented on #271
Hi! Thanks a lot @tomweingarten for reporting and @n2cholas for suggesting a fix. The fix looks great to me!

I personally think it's unlikely that there are many users who rely on the internal state of the optimizer being flattened so I think we can just make the change. Also, it looks like the `masked` wrapper is covered well by tests (apart perhaps from a test with a callable mask?) so it seems

[2022-01-31 15:24] mkunesch commented on #290
Hi! Thanks a lot for the question and for raising the issue with documentation.

Freezing parameters is possible within optax by using a combination of `set_to_zero` and either `masked` or `multi_transform`. The `set_to_zero` is important since `masked` only keeps _updates_/_gradients_ unmodified by the gradient transformation, so the parameters would still be modified when non-zero updates are ap

[2022-01-31 15:43] mkunesch commented on #271
Yes, thanks for cc'ing! I also just clarified my comment above: it's the parameters which are flattened by the current implementation of `masked` before being passed to the inner gradient transformations, the tree structure of the optimizer state itself is not affected.

[2022-01-31 15:50] andsteing commented on #271
I don't think we depend anywhere on internal optimizer's state being flattened.

Nice to see this change, being able to use `optax.masked()` in a nested way can facilitate the design of composite gradient transformations...

[2022-01-31 19:24] n2cholas commented on #271
Yep, will do this week!

I'll add a callable test and a nested test as well.

[2022-01-31 19:36] n2cholas commented on #292
Wow, thanks for catching that nuance. A relevant excerpt of the paper here about the decoupling:
![image](https://user-images.githubusercontent.com/12474257/151860053-df82eb94-5a18-48e8-b24f-5cde3c441209.png)

Although swapping the order as you propose would give the user independent control of both the decay schedule and learning rate schedule, I'm not sure if it's the intuitive thing to do from

[2022-01-31 21:04] ToucheSir commented on #292
Yes, the decay schedule would be yet another parameter and scaling, which I imagine most users don't even think about.

RE PyTorch, there is an issue at https://github.com/pytorch/pytorch/issues/38853. Reading the [linked discussion](https://github.com/pytorch/pytorch/pull/21250#issuecomment-520559993), this note stands out:

My understanding of this is that the true `λ` may be larger than users e

[2022-02-01 00:04] mkunesch commented on #271
Amazing, thank you so much @n2cholas!

[2022-02-03 10:10] rosshemsley opened #296 "Create an example for documentation for freezing parameters"
Users often ask how to freeze parameters (https://github.com/deepmind/optax/issues/290).

It would be nice to add a runnable example to the documentation under Examples (next to the meta-learning example) that shows how to do this.

[2022-02-03 10:10] rosshemsley commented on #290
Freezing is a common enough case that it might be nice to put an example under `Examples` in the online docs (https://optax.readthedocs.io/en/latest/).

I created a ticket for this at https://github.com/deepmind/optax/issues/296

[2022-02-03 10:13] jatentaki commented on #290
@mkunesch sorry for the late reply, it slipped through. Thanks a lot for your explanation. I agree with @rosshemsley that an example would be the best, but it should also be searchable in the API reference itself. I think modifying the docstring to say something like "this operation can be used to freeze parameters as: <insert one line example>" would be good, adding explicity function name aliase

[2022-02-03 12:42] mkunesch commented on #290
Sounds good - I completely agree with all this! Thanks @rosshemsley for opening the issue with the example.

@jatentaki: would you like to file a PR for the docstring change or shall I?

[2022-02-03 12:45] jatentaki commented on #290
I think I'd prefer you do this. I haven't had the time to actually try this solution yet, so I would be writing about something I haven't experienced myself. If that's not a problem, please file the PR, otherwise I can do that after my current deadlines...

[2022-02-03 12:49] mkunesch commented on #290
Sounds good, I'm more than happy to do it! I just wanted to make sure we don't both work on it at the same time.

[2022-02-03 15:11] rosshemsley commented on #296
I suspect there's more than one valid way to freeze params, and we could potentially show each option in a notebook.

@mkunesch also gave some ideas over in https://github.com/deepmind/optax/issues/290.

[2022-02-04 00:32] pharringtonp19 commented on #296
@rosshemsley As a starting point, would it be helpful to extend the meta-learning example to show case how parameters can be frozen during the inner loop? I would be happy to write something up this weekend.

[2022-02-04 08:32] rosshemsley commented on #296
Hey @pharringtonp19, that would be welcome!

Sounds good! We could use the "meta-learning trick" that means the example can be a notebook - but for the actual code it might be good to use the most simple possible model, so that users who are just learning about deep learning can follow the example, without having to worry about the meta learning part.

(maybe one of the examples from https://githu

[2022-02-04 15:22] rosshemsley commented on #196
Hey @wdphy16, just to let you know - we linked your design doc into the documentation (https://optax.readthedocs.io/en/latest/design_docs.html) and added you as a contributor to https://optax.readthedocs.io/en/latest/contributors.html.

We appreciate the work you have put into supporting optax! 🎉

[2022-02-08 12:08] #290 closed

[2022-02-08 12:09] mkunesch commented on #281
This was fixed in #294 so I'll close this issue. Thanks @Rupt for spotting and fixing this bug!

[2022-02-08 12:09] #281 closed

[2022-02-08 21:01] pharringtonp19 commented on #296
@rosshemsley I admit, I am not entirely sure what you mean by

I have never contributed to a repository before, so I am eager to see how this works. I'll start (on Thursday) with a small colab example, and then go from there (if that makes sense) -- apologies for the delay

[2022-02-10 19:39] pharringtonp19 commented on #296
@rosshemsley - If you think the following is suitable, I would be happy to write up a more detailed tutorial.

Here is a [colab notebook](https://colab.research.google.com/drive/1-qLk5l09bq1NxZwwbu_yDk4W7da5TnFx?usp=sharing) where we fit a linear model via maximum likelihood. In this notebook, we show how to freeze parameters by applying the `set_to_zero` gradient transformation to the nuisance pa

[2022-02-11 10:11] rosshemsley commented on #296
Hey @pharringtonp19 , sorry for dropping your previous message!

Sorry it wasn't that clear indeed! - In the Optax docs, we use the "trick" that you can convert a notebook into a documentation page - the code and content is nicely formatted into a webpage, see e.g. https://optax.readthedocs.io/en/latest/optax-101.html, which is generated automatically from a colab.

There's a command for running t

[2022-02-14 11:16] mkunesch commented on #296
Hi! I think the example looks great in terms of demonstrating how to use `multi_transform` with `set_to_zero`.

In this particular example, since sigma is never optimized it might be worth pointing out that we could also use `jax.lax.stop_gradient` (or just not include sigma in `params`). Or we could add an example where the freezing only happens for certain steps (e.g. the first `N`) but that cou

[2022-02-14 14:00] pharringtonp19 commented on #296
@mkunesch I think my example is a rather poor one for the reasons that you point out -- the simplest thing to do would be not to include sigma in params.

`multi_transform` + `set_to_zero`  "shines" when we are given a parameterized function + training procedure for the entire array of params, but we are only interested in updating/training a subset of these params.

If we have more direct control

[2022-02-17 13:50] tisabe opened #304 "Cosine decay schedule and restarts"
In the [paper](https://arxiv.org/abs/1608.03983) linked with `optax.cosine_decay_schedule` the key is the restarting of the learning rate, i.e. the learning rate having a cosine shape. But in the optax implementation there is only one half period and then the learning rate is zero.

If this is intended, it should be mentioned in the documentation and a different periodic schedule could be made ava

[2022-02-23 21:57] samuela commented on #304
Just checked and was shocked to find the same thing. It looks like it's only doing a single half-period, and then it's just learning rate zero. This is a bug, no? How does one implement the cosine decay schedule from the paper?

[2022-02-23 21:59] samuela opened #307 "What's the difference between `add_decayed_weights` and `additive_weight_decay`?"
There does not seem to be any discussion in the documentation? What's the difference between these two? What's the kosher way to implement weight decay?

[2022-02-23 22:01] samuela commented on #307
And based on https://github.com/deepmind/optax/blob/7c76078015469ad00805063cfd772c1564f37640/optax/_src/transform.py#L915 it looks as though they're identical. But there's no deprecation warning or anything...

[2022-02-24 05:24] samuela commented on #304
Just talked with a friend that works in CV... he reports that doing a single half-period decay is actually standard these days. So I guess there's some precedent for this.

[2022-02-24 05:34] samuela opened #308 "Tutorial prominently mentions weight decay, but does not implement it"
[This heading in optax-101.ipynb](https://github.com/deepmind/optax/blob/7c76078015469ad00805063cfd772c1564f37640/docs/optax-101.ipynb?short_path=6fc9dea#L194) is misleading since weight decay is not actually used anywhere in the example AFAICT.

[2022-02-25 23:12] mhr commented on #291
Hey, what was the solution?

[2022-02-28 21:00] mkunesch commented on #304
Hey! Thanks a lot for raising this!

For `cosine_decay_schedule` I think this is the desired behaviour in the user codes I looked at (the learning rate stops at `alpha * init_value` so if `alpha` is not zero it does not decay all the way to zero). In the discussion, the paper also advocates the use of the cosine schedule even without restarts.

However, I totally agree that all this should be expl

[2022-02-28 21:03] mkunesch commented on #304
Actually, it would be great to have an example that shows the use of schedules, e.g. with `join_schedules` to get a linear increase at the beginning, followed by cosine decay with several restarts.

Would you like to write this example? If not, I'll create a new issue requesting this example and label it as "good first issue".

[2022-02-28 22:13] samuela commented on #304
Thanks for taking a look at this and clarifying the docs in #310, @mkunesch! I tried using something like
[code]
but found that it didn't do much to help me (training VGG16 on CIFAR-10). It's also prob not quite what was described in the original paper. I also tried decaying the peak learning rate exponentially with each cycle, but that gave me terrible performance for some reason I have yet to un

[2022-03-04 08:19] rosshemsley commented on #308
I think the "weight decay" here is referring to the use of `adamw`:

https://optax.readthedocs.io/en/latest/api.html#adamw

instead of adam

Perhaps it's a bit subtle indeed though! - Would you prefer to see an explicit example of adding a weight decay term in the chain, or would it be enough to highlight this more?

[2022-03-04 08:20] rosshemsley opened #312 "Add an example of reading the learning rate from the optimizer state"
This question comes up relatively often, let's put it clearly in the documentation.

[2022-03-05 01:29] samuela commented on #308
Ahhh I see. I was looking for something like
[code]

Personally speaking I like the idea of making it explicit, if for no other reason than that it lets you showcase another feature of optax, `opted.chain`.

[2022-03-07 12:43] tisabe commented on #304
Thanks for clarifying in the docstring and the discussion of this issue!

IMO it would be nice to have an example showing a schedule like @samuela suggested, but it would be better if it also increases performance compared to a standard schedule. Reproducing the results in the original paper with restarts would be ideal.

At the moment I unfortunately don't really have the time to write an example

[2022-03-08 23:08] yulonglin commented on #312
I'd like to work on this!

[2022-03-08 23:15] yulonglin commented on #250
I'm adding another list of files with missing type hints. I'll work on them and add more files along the way :)
- [ ] [base.py](https://github.com/deepmind/optax/blob/master/optax/_src/base.py)
- [ ] [base_test.py](https://github.com/deepmind/optax/blob/master/optax/_src/base_test.py)

[2022-03-09 03:10] GeoffNN opened #314 "Memory leak in optic.apply_updates?"
Hi,
I'm getting this very strange bug, where my memory profiler tells me a memory leak is happening in `optax.apply_updates`. Attached the graph given by `pprof`.
Any help would be great. I checked the shapes of both params and updates and they're both 1) the same and 2) constant...

[profile.pdf](https://github.com/deepmind/optax/files/8211342/profile.pdf)

[2022-03-10 13:27] grahamgower opened #317 "docs: loss functions not rendering properly"
Compare https://optax.readthedocs.io/en/latest/api.html#losses with https://optax.readthedocs.io/en/stable/api.html#losses

api.rst has a bug in the autofunction syntax for `ctc_loss`, so docs for ctc_loss and subsequent loss functions aren't rendered.
https://github.com/deepmind/optax/blob/252d152660300fc7fe22d214c5adbe75ffab0c4a/docs/api.rst#L445-L456

[2022-03-18 17:50] mkunesch commented on #317
Oh, thanks a lot for raising this! Would you like to file a PR with a fix? If not, I'm also happy to do it - just want to make sure we don't duplicate the work.

Thanks a lot again!

[2022-03-18 17:52] mkunesch commented on #312
That's great, thanks a lot! The replies in #206 might be helpful for showing the different ways of doing it. Let us know if you have any questions!

[2022-03-18 18:04] mkunesch commented on #307
Good point! There is a comment there that they are legacy aliases but currently no deprecation warning. We could either write a quick deprecation wrapper ourselves or use a deprecation library (e.g. perhaps https://github.com/briancurtin/deprecation)?

We could wrap the legacy alias in both `transform.py` and `utils.py` with the current version as "deprecated_in" and 1.0.0 for "removed_in"? I thin

[2022-03-19 07:49] samuela commented on #307
I don't currently have the bandwidth to submit a PR for this unfortunately. Admittedly I'm a bit hesitant since there doesn't seem to be an established precedent for how to deprecate things --- an inherent catch-22!

[2022-03-19 14:04] chandrima91 commented on #307
I'd like to work on this please. What kind of functionality would you like in making the deprecation wrapper?

[2022-03-20 12:27] mkunesch commented on #307
Hey! Great, thanks a lot!

I think at this point it would be nice if the wrapper/decorator could:

- warn with a DeprecationWarning (with a message saying that this function/alias might be removed in a future version).
- add a line saying that the function/alias is deprecated to the function docstring.
- accept an optional version string specifying when the deprecation started and add it to the me

[2022-03-21 04:41] umgupta opened #319 "Too slow on GPU"
I ran the [flax example](https://github.com/deepmind/optax/blob/master/examples/flax_example.py) from the examples folder on GPU and CPU.

It runs lightning fast on the CPU taking less than 2s, whereas on GPU it took more than 28s. I observed the same problem in another training code. Infact, that is where I first figured that the optax specific part is slow/bottleneck.

Is there any reason why th

[2022-03-21 09:06] mkunesch commented on #319
Hi! Oh, interesting - thanks for raising this! I took a look at the examples and the behaviour you describe could be due to the placement of `jax.jit`.

The `jit` is only placed around the loss function and not the optax calls. This means that the optax code will run slowly and not on device. For an example on where to place the jit to get the best performance, see the lookahead example. We should

[2022-03-21 12:48] #317 closed

[2022-03-21 17:18] umgupta commented on #319
Yes, this explains the issue. Sorry for raising a bug without trying this --- I feel stupid.

Yes, this worked. I am sorry for raising an issue without trying jitting --- I thought optax would do it already for me.

I would be happy to fix this. Did you mean for me to add `jit` in the examples or all the optimizers?

[2022-03-22 10:10] agemagician opened #320 "MultiSteps OOM on TPU"
Hello,

I am testing "MultiSteps" for gradient accumulation on Colab TPU V2, but every time I use anything above 1, I get an OOM.

It seems that it increases the memory requirements equivalently to increase the batch size, which should not be the case.

My understanding is that all I need to do is to use it, is to call it after the optimizer and increase the training batch size by multiplying it b

[2022-03-22 14:01] #196 closed

[2022-03-24 19:24] mkunesch commented on #320
Hi!

I think the problem is that you are increasing the training batch size - this isn't necessary. The wrapper counts batches as you pass them in and returns updates=0 whenever the count isn't k and then the accumulated gradients at the kth step. This means that there shouldn't be an extra memory requirement.

Is this something that's confusing in the documentation? If so, is there something we c

[2022-03-24 19:35] agemagician commented on #320
Thanks @mkunesch  for your reply.

Please, correct me if I am mistaken.

From my experience in Pytorch + GPU + gradient accumulation, I can increase the accumulation steps without causing the GPU memory.
For example, if the actual maximum GPU batch size is 16, then I can make the gradient accumulation, any number like 2 or 32, then the gradient will be calculated for every gradient accumulation st

[2022-03-24 19:50] mkunesch commented on #320
Hi! Yes, you should totally be able to increase the accumulation steps in `optax.multi_steps` without causing the memory usage to increase - but you are also increasing the batch size in your code. This isn't how the optax implementation of `multi_steps` works: in the optax implementation, the optax wrapper accumulates results from `k` subsequent batches you pass in. The batches should have the sa

[2022-03-24 20:02] agemagician commented on #320
Yes, it makes a lot of sense now.

So the train_batch_size should always be fixed and independent of the gradient_accumulation_steps.

The correct code should be :

[code]

The MultiSteps and optimizer are expecting to receive the actual physical batch size, and then it will not calculate these batches until it hits the gradient_accumulation_steps.

It is very clear now.

It will be great if you c

[2022-03-24 20:08] agemagician commented on #320
My suggestion is :

[code]
Maybe something like that.

[2022-03-24 20:55] agemagician commented on #320
My initial assumption is that the MultiSteps will take the virtual batch size and perform a loop over the mini-batches.

Thanks again for your excellent explanation.

[2022-03-24 20:55] #320 closed

[2022-03-27 17:50] mkunesch commented on #319
Hi! Not at all - thanks for raising this! I think the placement of the jit in the flax example isn't the best so I think we should change this.

Regarding optax including the jit around the optimizers: we don't do this for several reasons (it would almost always be the wrong place for the jit, user might want different transformations or different arguments for the jit, and in some cases users mig

[2022-03-29 19:22] samuela opened #323 "`ERROR collecting examples/lookahead_mnist_test.py`"
I'm getting an error running the test suite, in particular in the `examples/` directory:
[code]
I'm running via pytest on optax version 0.1.1.

[2022-04-01 17:23] DavidSlayback opened #326 "Logging grad norm"
A quick question:

In PyTorch, I found it useful to be able to log the original norm when applying gradient clipping to get an idea of the scale of the updates being attempted (e.g., `original_norm = nn.utils.clip_grad_norm_(agent.parameters(), args.max_grad_norm)`

Is there an equivalent in Optax? Currently, I have norm clipping as part of the chain, but it's not clear how I would extract the ori

[2022-04-05 12:46] epignatelli opened #328 "`_bias_correction` forces recompilation of `integer_pow`"
This might be related to #197, but I don't have enough knowledge to confirm it.

In short, while using `optax` with `flax.linen`, `optimizer.update` forces jit-recompilation of the `integer_pow` jax primitive.
I get these results on a GPU backend.

[code]
At each `i`:
[code]

Where `prim_fun` refers the `integer_pow` op at this line:
https://github.com/deepmind/optax/blob/b4aa6657bbf79985279dea76e

[2022-04-07 10:49] mkunesch commented on #323
Hi! Thanks for raising this!

 I'm actually tempted to just remove the flags from this example and make them hard-coded constants at the top of the file. The flags have also caused problems with the github test workflow in the past and since this is not production code and just an example I don't think anybody actually needs the flags. What do yo think?

[2022-04-08 20:25] samuela commented on #323
Yeah, if there causing you problems then I think it makes sense to just remove 'em. I think that anyone reading the code ought to be able to figure out how to add config flags if they so desire. Removing them also helps keep the focus on optax itself. Just my 2c 🤷

[2022-04-09 15:06] trologat commented on #296
@mkunesch I'm trying to implement an optimizer where some parameters are frozen for the first `N` steps. Could you give me a hint/example how to achieve such a behavior? So far I was mainly thinking of using zero/small learning rates for the frozen parameter.

[2022-04-14 22:39] yihengwuKP opened #333 "`float` type parameter lead to slow convergence of `adam`"
# Summary
I found that if I initialize the parameter to `int` type, then the `adam` would find the minimum faster. Also the `sgd` would be faster than `adam` in my testing case with the same `learning_rate`. Is there anything I did wrong?

# Code to reproduce
[code]
step 0, loss: 9980.0107421875
step 100, loss: 8114.1650390625
step 200, loss: 6521.810546875
step 300, loss: 5178.337890625
step 400,

[2022-04-15 03:05] yihengwuKP commented on #333
I am using optax `0.1.1`, jax `0.3.1`

[2022-04-17 16:08] borisdayma commented on #206
This seems to work when the learning rate is a constant.
When it's a function, we also need to have access to optimizer step. Is there an easy way to retrieve it?

[2022-04-18 02:59] n2cholas commented on #206
@borisdayma this will still work when the hyperparameter is a function. `opt_state.hyperparams` stores the most recent value of the hyper parameter. Below is a code snippet illustrating this:

[code]
Output:
[code]

[2022-04-18 12:09] andreaskoepf opened #335 "JAX 0.3.7, chex 0.1.2 problem: module 'jaxlib.xla_extension' has no attribute 'CpuDevice'"
Importing optax in a fresh jax 0.3.7 installation fails due to the following issue in chex: https://github.com/deepmind/chex/issues/156
Although it is a chex issue I am reporting it here since optax depends on chex and someone else also might see it while importing optax.

[code]

Until a new chex release is available a temporary workaround is to reinstall chex via git, e.g. `pip3 uninstall chex -

[2022-04-19 15:30] rosshemsley commented on #333
Hey @yihengwuKP,

Adding in some prints, we can see that the updates are small negative values, e.g. `-0.09999934`.
When we add these updates to the params, and then cast (which is what apply_updates does), these values get truncated **down** to the nearest integer.

This means that the parameter decreases by a whole integer step on every gradient step (99, 98, 97, ...).

For most optimizations, t

[2022-04-19 15:50] rosshemsley commented on #328
Hello @epignatelli,

I am not totally sure why the recompilation is happening on every step (for integer pow) - although, this should not happen if you jit the the full update function, and apply that jitted function in every loop iteration.

e.g.

[code]

[2022-04-19 15:53] rosshemsley commented on #328
@hbq1 suggests that the recompilation for interger_pow may be happening because the exponent is a static argument for integer pow. This would be because more efficient algorithms exist when the exponent is a known integer.

Does the above help?

[2022-04-19 15:56] hbq1 commented on #335
It was fixed in [chex v0.1.3](https://github.com/deepmind/chex/releases/tag/v0.1.3)

[2022-04-19 15:56] #335 closed

[2022-04-19 16:03] yihengwuKP commented on #333
wooo, many thanks for the detailed explanation, it makes perfect sense now!

[2022-04-19 16:03] #333 closed

[2022-04-19 16:35] hbq1 commented on #328
Indeed, [the docs](http://google3/third_party/py/jax/_src/lax/lax.py;l=362;rcl=442675847) state that the exponent in `integer_pow` is a _fixed_ integer.

[2022-04-22 12:47] hbq1 commented on #326
Hi David, would it be possible to split your chain of transformations into 2 parts and use the output of the 1st part for logging?

[2022-04-25 22:33] NeilGirdhar commented on #328
(I just checked, and this is not related to #197 as much as I wish it were.)

[2022-04-26 15:49] HanGuo97 opened #337 "`noisy_sgd` adds noise after scale by learning rate."
Thanks for the effort in this awesome library!

According to [these](https://github.com/deepmind/optax/blob/master/optax/_src/alias.py#L408#L435), it seems like the noise is added after scaling by the learning rate. That is, the noise is independent of the learning rate. I'm curious if this is an intentional design?

[2022-05-01 08:47] Waterkin commented on #1
Hi, I tried to use the code above, but got some error:
① Gradient Transformation has no attribute 'apply'
② TypeError: unsupported operand type(s) for *: 'dict' and 'DynamicJaxprTracer' （at `scaled_updates = tree_map(lambda t: eta * t, updates)`）

[2022-05-01 12:36] NeilGirdhar commented on #1
@Waterkin It appears your `eta` is a dict.

Anyway, I think the optax is solution is over-complicated.  It's a lot easier to simply use the transformations in `tjax.gradient`, which have all meta-parameters as ordinary dynamic values.

[2022-05-01 12:52] Waterkin commented on #1
Thanks for your reply, Neil. I'll see if tjax helps.

[2022-05-02 04:14] Waterkin opened #339 "What is the difference between treemap and opt?"
**_For params 'p', use sample x and y to update it, what's the difference between following codes?_**
`grads = jax.grad(loss)(p, x, y)`
`updates, state = opt.update(grads, state)`
`p = optax.apply_updates(p, updates)`

`grads = jax.grad(loss)(p, x, y)`
`inner_sgd_fn = lambda g, state: (state - alpha*g)`
`p = jax.tree_util.tree_multimap(inner_sgd_fn, grads, p)`

[2022-05-02 04:21] Waterkin opened #340 "Is it possible to update p with loss of another parameter p_?"
for example:

`grads = grad(loss)(p2, x, y)`
`inner_sgd_fn = lambda g, state: (state - alpha*g)`
`p = tree_multimap(inner_sgd_fn, grads, p2)`

or

`grads = jax.grad(loss)(p2, x, y) `
`updates, state = opt.update(grads, state) `
`p = optax.apply_updates(p, updates)`

[2022-05-03 12:10] epignatelli commented on #328
HI @rosshemsley, thanks for the directions! And apologies for the delayed response, I have been away.

I tested the code with a fully jitted update function.
The main difference for the purpose of recompilation is that when jitting the update function `count` is a `Traced<ShapedArray>`, instead of a `DeviceArray`.

Some details:
- Exponentiation for `DeviceArray` hits the `lax.integer_pow` primiti

[2022-05-10 15:04] jecampagne opened #341 "Install optax leads to failure: jax/chex..."
Hi, I have trouble as `import optax` leads to the following traceback.
I am on `Python 3.8.12` and
[code]
and K80 GPU.

Help would be appreciated.

[code]
here is the environment
[code]

[2022-05-10 16:26] jecampagne commented on #341
`--upgrade` and it is fin now :)

[2022-05-25 08:17] IJS1016 opened #345 "AttributeError: module 'optax' has no attribute 'masked'"
Hi,
I want to run this project https://github.com/google-research/big_vision

but I had a error, "AttributeError: module 'optax' has no attribute 'masked'"

`  File "/home/jsim/Desktop/big_vision/big_vision/optax.py", line 65, in <listcomp>
    optax.masked(optax.scale_by_schedule(schedule_fn), mask)
AttributeError: module 'optax' has no attribute 'masked'`

Why I could not use optax.masked() func

[2022-05-25 08:43] #345 closed

[2022-05-25 08:44] IJS1016 commented on #345
The reason the big_vision has optax.py,,,

[2022-05-31 15:04] tempdeltavalue commented on #291
@mhr
Sorry for delay ... )
I change my loss to something like that  (looks like you cannot pass model inside loss)

def loss(params, targets):
    gausses = apply(params, targets)

    out = jnp.mean((gausses - targets)**2)
    return out

[2022-06-02 01:57] raymondchua opened #350 "Multiple loss functions and multiple optimisers"
Hi, is there a way to modify [this](https://github.com/deepmind/optax/issues/59#issuecomment-800747919) for situations with multiple loss functions? For example, I have two loss functions and I partition the parameters of my network in two sets (eg. set 1 and set 2). For update step that is odd (step 1,3,5..), I would like to update parameters set 1 with loss function 1. For update step that even

[2022-06-08 10:43] dionhaefner opened #353 "Add __hash__ function to avoid unnecessary recompilations"
Example:

[code]

This prints:

[code]

Even though the same optimizer is used every time. This could be avoided by supplying meaningful `__hash__` attributes based on the optimizer parameters, or memoizing the wrappers in `alias.py`.

[2022-06-09 15:44] ankit27kh opened #357 "Add SPSA optimization method"
The  Simultaneous Perturbation Stochastic Approximation (SPSA) optimisation method is a faster optimisation method.

It is also naturally suited for noisy measurements. Thus, it will be useful when simulating noisy systems.

The theory (and implementation) for SPSA is:
* Described in James C. Spall, “[An Overview of the Simultaneous Perturbation Method for Efficient Optimization](https://www.jhuap

[2022-06-20 04:06] yuanqing-wang opened #364 "order of transformation"
Greetings!

I couldn't find any documentation on the order of transformations in `optax.chain`. Namely, if I just wanted a Adam optimizer with L2 weight decay, should the optimizer or the `additive_weight_decay` come first?

Thanks,
yuanqing

[2022-06-20 20:46] PhilipVinc commented on #353
or even better, by marking optimisers as pytrees and splitting 'dynamic' data such as learning rate and such from static data...

[2022-06-25 23:41] n2cholas commented on #364
`optax.chain` will apply operations in the order they are given in the list. For your particular example, you can see the code in `alias.py`:

https://github.com/deepmind/optax/blob/6a035251e9dc8522b74e57d736bf0abc9b962eca/optax/_src/alias.py#L275-L278

The adam scaling is applied first, then the weight decay, then finally the learning rate. Does that make sense?

[2022-06-25 23:54] n2cholas commented on #59
As of #132, this is much simpler: https://optax.readthedocs.io/en/latest/api.html?highlight=multi#optax.multi_transform

[2022-06-26 00:20] n2cholas commented on #350
You can write a relatively simple `alternate_tx` wrapper that will choose a different optimizer based on the step.

[code]

Usage:

[code]

Here's some code demonstrating what happens:

[code]

In `updates_1`, you'll see that only kernels have update values while biases are zero'd. In `updates_2`, you'll see the opposite.

Does this make sense? This can be extended to support an arbitrary number o

[2022-06-26 00:26] n2cholas commented on #340
Yes, nothing in the API would prevent you from doing so. The gradient computation from the loss is completely separate from applying the updates in Optax (as you showed in your code snippet). Are there any issues you encountered when trying to do this?

[2022-06-26 00:28] n2cholas commented on #339
If your `opt` is SGD, then those two code snippets should do the same thing. However, if you are using a different optimization method (e.g. Momentum, Adam, RMSProp, etc), then there is additional state (e.g. momentum terms) that Optax will help you manage. This quickstart notebook might illustrate this better: https://github.com/deepmind/optax/blob/master/examples/quick_start.ipynb

Does that mak

[2022-06-26 00:42] n2cholas commented on #337
Good catch, this does not seem correct. My understanding is the noise is supposed to be added to the raw gradient, independent of the actual optimization method. That is, learning rate and any other scaling should take place after the noise is added to the gradient. Below is a snippet from the paper: https://arxiv.org/pdf/1511.06807.pdf

![image](https://user-images.githubusercontent.com/12474257/

[2022-06-26 02:16] vwxyzjn opened #366 "Putting the NN parameters as a non-first argument in loss fn results in a weird error: TypeError: unsupported operand type(s) for *: 'float' and 'FrozenDict'"
Putting the NN parameters as a non-first argument in loss fn results in a weird error.  https://github.com/PaddlePaddle/Paddle/issues/10333 might be related

See the following script as a minimal reproduction example.

[code]

Running `update_works` works but `update_not_works` results in the following error

[code]

Note that `update_works` and `update_not_works` only have the following line of c

[2022-06-26 20:05] pharringtonp19 commented on #366
@vwxyzjn

`jax.value_and_grad(model_loss)` computes the derivatives of `model_loss` with respect to the first argument of the function. The problem that you are running into in `update_not_works` is that you would like to compute the partial derivates of `model_loss` with respect to its third argument. To compute this derivative, you want to use `jax.value_and_grad(model_loss, argnums=2)(x, y, cri

[2022-06-26 20:10] vwxyzjn commented on #366
Ah this makes sense. Coming from the pytorch world I am still learning to think in JAX. Thanks for the prompt response.

[2022-06-26 20:10] #366 closed

[2022-06-27 09:01] mtthss commented on #340
As long as `p` and `p2` that seems fine.

[2022-06-28 09:04] mtthss commented on #337
I spoke with one of the authors and I can confirm that the noise should be added before multiplying by the learning rate.
@HanGuo97 do you want to put together a PR fixing this?

[2022-06-29 17:49] HanGuo97 commented on #337
Unfortunately, I'm swamped with other responsibilities at the moment. I can come back to this later. In the meanwhile, contributions from others are more than welcome!

[2022-06-29 19:18] atgctg commented on #337
Shouldn't the fix just be this?

![Screen Shot 2022-06-29 at 20 42 52](https://user-images.githubusercontent.com/105969161/176512133-9f444cfe-0526-4950-8313-08bd90c04c23.png)

Not really sure how to validate this, so just ran the `test_optimization` test in `alias_test.py`. Here's the before & after:
<details>
<summary>
_setup_parabola params at every 1000th step
</summary>

#### Before

[code]

#

[2022-06-30 07:07] n2cholas commented on #337
@atgctg that looks correct. With that change all the convergence tests still pass for me (rosenbrock and parabola). I don't think you need to verify this otherwise since the sub-components are well tested and it is a very small change.

[2022-06-30 07:30] atgctg commented on #337
Thanks @n2cholas! Made a PR with the change.

[2022-07-04 14:01] epignatelli commented on #328
Guys, any idea on the status of this?

[2022-07-06 18:23] raymondchua commented on #350
@n2cholas , I think they can take place in the same step as long as representation parameters are updated before the prediction's parameters. I imagine my code snippet does that?

[2022-07-07 04:13] n2cholas commented on #350
If that's the case, then yes your code snippet looks fine, and you should ignore mine (mine assumes you want to compute the loss with the old parameters, compute gradients, update representation params, evaluate loss with new representation parameters and old prediction parameters, compute gradients with this loss, update prediction parameters, then repeat).

[2022-07-07 18:29] raymondchua commented on #350
Thank you so much for your help @n2cholas :)

[2022-07-07 18:29] #350 closed

[2022-07-12 12:06] yuanqing-wang commented on #364
Thanks!

[2022-07-12 12:06] #364 closed

[2022-07-14 09:09] mtthss commented on #287
Did PR #279 address your issue? Anything else you want to discuss or can I close the issue?

[2022-07-17 10:59] PhilipVinc commented on #78
Like any other conda forge package, ```conda install conda-forge::optax```

[2022-07-21 14:37] Sea-Snell opened #377 "Adafactor + MultiStep with bfloat16 model doesn't work"
If I use Adafactor with MultiStep on a bfloat16 model I get this strange error (note the error is extremely long, so I truncated it to fit in the issue; the model is T5-small):

[code]

The error points to [this line](https://github.com/deepmind/optax/blob/233294c60034bb3852c966601a59366ee45adfd9/optax/_src/wrappers.py#L395) of optax.MultiSteps. It's essentially saying that `mid_step`'s first retu

[2022-07-22 12:55] mkunesch commented on #377
Interesting, based on your description this would only happen if the dtype inference in line [383](https://github.com/deepmind/optax/blob/233294c60034bb3852c966601a59366ee45adfd9/optax/_src/wrappers.py#L383) results in the wrong type so I could try looking into the dtype returned from `optax.scale_by_factored_rms`. Do you have a minimal example of the error I could try this with?

[2022-07-26 15:26] #341 closed

[2022-07-26 16:34] hbq1 commented on #326
Closing this issue for now, but feel free to re-open if any questions remain.

[2022-07-27 18:20] paraklas commented on #162
Wonder whether there has been any progress on this? Weight normalization would be a great feature to have.

[2022-07-31 01:26] brentyi opened #384 "Type errors for general pytrees"
Hello!

When it comes to annotations, `optax` currently relies heavily on `optax.Updates` and `optax.Params`, which are all aliases for `chex.ArrayTree`.

This makes sense, but for folks who run type checkers means that a lot of type errors happen when working with pytrees that aren't strictly nested `Iterable` or `Mapping` types as specified in `chex`. For example:
[code]

A few questions from th

[2022-08-18 01:02] rems75 opened #392 "Adam with weight decay"
Various recent algorithms use Adam with L2 regularization / weight decay (the purple version):
![image](https://user-images.githubusercontent.com/9039058/185268957-cb6b2a79-2053-4d20-876b-5de887aa2333.png)

There used to be some form of weight decay in flax.optim.Adam (though not the one described above) but it seems to have been dropped in Optax. Any reason behind that?
I'd be happy to code it (p

[2022-08-18 01:55] rems75 commented on #392
Just found optax.chain and optax.add_decayed_weights which can be used to reproduce the above, I imagine that was the rationale behind dropping the option.

[2022-08-18 01:55] #392 closed

[2022-08-23 08:40] #339 closed

[2022-08-23 08:41] #319 closed

[2022-08-23 08:43] mtthss commented on #292
Thanks everyone for their contribution to the discussion, overall we think it's best to stick with the current implementation which is consistent with what pytorch does (and what flax.optim used to do)

[2022-08-23 08:43] #292 closed

[2022-08-23 08:54] mtthss commented on #377
@Sea-Snell, as @mkunesch mentioned it would be helpful to have a minimal example we could try this with

[2022-08-23 10:49] mkunesch commented on #384
Hi,

thanks a lot for pointing this out! This is definitely something we should discuss especially if it would be convenient for flax to have these types supported.

I think we should prefer to stick to `chex` types as the standard to make it easier to ensure safe interoperability with other jax libraries that use chex (e.g. [this](https://github.com/deepmind/optax/pull/338) bug isn't directly rel

[2022-08-23 15:18] rosshemsley opened #399 "Fix documentation to explain how schedules work in optimizers."
### Discussed in https://github.com/deepmind/optax/discussions/390

<div type='discussions-op-text'>

<sup>Originally posted by **nalzok** August 13, 2022</sup>
For example, in the documentation for [`optax.adam`](https://optax.readthedocs.io/en/latest/api.html?highlight=adam#optax.adam), we have

I noticed that `learning_rate` can be a function. How can a function be "a fixed global scaling facto

[2022-08-24 12:00] joaogui1 opened #401 "Adan Optimizer"
Is there any interest in adding the [Adan optimizer](https://twitter.com/davisblalock/status/1561976182567870465?t=AHwO3of5ivzgE0dW06hZvA&s=35) to optax? If so I can do it

[2022-08-24 14:09] sigeisler commented on #206
I think it might fail once donating the optimiser state (in e.g. the `pmap` call). Particularly, when operating on multiple hosts I get the error `google3.third_party.tensorflow.compiler.xla.python.xla_extension.XlaRuntimeError: INVALID_ARGUMENT: DeviceArray has been deleted.`

[2022-08-27 13:43] rlouf opened #402 "Blackjax"
I’m the author of [blackjax](https://github.com/blackjax-devs/blackjax) and wanted to bring the existence of the library to your attention. We recently started adding [stochastic gradient MCMC algorithms](https://github.com/blackjax-devs/blackjax/tree/main/blackjax/sgmcmc), an thought this may be of interest to some of you.

I think the libraries complement each other pretty well and we’re working

[2022-08-28 13:16] tanaymeh opened #403 "Add Hinge Loss"
Hi, I would like to add Hinge loss to Optax.

I am hoping to contribute more extensively to optax and hence starting with this loss function addition.

Can I go ahead with this?

Hinge loss: [Wikipedia](https://en.wikipedia.org/wiki/Hinge_loss), [Sklearn](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.hinge_loss.html)

[2022-08-29 00:07] mkunesch commented on #401
Interesting, I think that would be great! Thanks a lot!

Let us know if you'd like to discuss anything about the implementation as you write it. How much of the Adam code do you think can be reused?

[2022-08-29 00:22] mkunesch opened #404 "Better tests for utils."
Optax tests did not catch a problem with one of the type annotations in #367. This is due to `utils` not having good test coverage.

I'm marking this as "good first issue". Any tests for `utils` would be very welcome! No need to write tests for all of them at once, PRs with only a single test at a time are very welcome.

[2022-08-30 13:13] mtthss commented on #401
This looks very interesting, it would be an amazing contribution!

[2022-08-30 13:14] mtthss commented on #403
Sounds great! Looking forward to it

[2022-08-30 18:17] dlwh opened #408 "Adafactor: Update Clipping vs Gradient Clipping"
The [Adafactor paper](https://arxiv.org/pdf/1804.04235.pdf) (section 6) suggests "update clipping" instead of the usual "gradient clipping".

![image](https://user-images.githubusercontent.com/9633/187512238-3bd1f327-a9f9-449a-9b0e-bf9fae9f055d.png)

"Update clipping" here means clipping the update after all the fancy moment stuff has been applied (line 9 above)

However, the alias defined in alia

[2022-09-06 20:59] #323 closed

[2022-09-06 21:40] #337 closed

[2022-09-07 12:29] mkunesch opened #412 "Problems when jitting Adafactor with inject_hyperparams."
When wrapping `optax.adafactor` with `optax.inject_hyperparams` without specifying `static_args`

[code]

the `init` function of the resulting `GradientTransformation` cannot be jit compiled. The reason is that by default `inject_hyperparams` treats all arguments as dynamic and one of the argument has to be static to avoid a `TracerError`. A workaround is to specify the static argument:

[code]

H

[2022-09-12 11:16] adam-hartshorne commented on #401
I see there is an issue with the replicability of the pull request. It appears there is another implementation in jax for optax here, which might be worth looking at.

https://github.com/hr0nix/optax-adan

[2022-09-12 14:49] joaogui1 commented on #401
Thanks for the pointer @adam-hartshorne! Sadly when testing that implementation on my colab it gets a 3 order of magnitude larger error compared to mine (not sure where the difference comes from, the only difference I can see is the epsilon placement)

[2022-09-13 14:29] mkunesch opened #415 "inject_hyperparams starts with step_count=1 when using schedules"
This is inconsistent with e.g. `scale_by_schedule` which starts with `step_count = 0` in the first update.

To reproduce:

[code]

Leads to:
`AssertionError: updates=DeviceArray([1.], dtype=float32) not equal to updates1=DeviceArray([0.], dtype=float32)`

[2022-09-13 15:18] qubit0 opened #417 "Adam vs AdamW"
Pytorch's implementation of Adam takes weight_decay as an option. It also has AdamW. Most of the papers, seem to use Adam with weight_decay instead of AdamW. Is that the correct thing to do?

However, optax's implementation of Adam doesn't take weight_decay. AdamW handles weight_decay. When I am trying to write a pytroch equivalent in jax, what optimizer should I use?

[2022-09-13 15:24] mtthss commented on #417
In optax we have two separate optimisers for `adam` and `adamw`, respectively.
If you are interested in using weight decay with adam you should use `adamw`.

[2022-09-13 15:24] #417 closed, assigned to nobody

[2022-09-13 19:36] qubit0 commented on #417
Doyou think the pytorch's implementation of `Adam` with weight_decay is incorrect?

If I use optax's `AdamW` then I can't reproduce the result from the paper that used pytorch's `Adam` with weight_decay.  So, I was confused.

[2022-09-14 07:42] mtthss commented on #417
optax adamw is equivalent to pytorch adamw

If you use pytorch adam (without the `w`) with weight_decay!=0 you are not doing adamw.
It adds an L2 penalty that also pushes the weights down but in a subtly different and worse way
(this is extensively discussed in the adamw that shows the *right* way of doing weight decay with adam: i.e. adamw)

[2022-09-14 07:43] mtthss commented on #417
More recent papers usually adamw instead of adam with the L2 penalty
(adamw is quite recent so older papers might still use pytorch adam with weight_decay!=0)

[2022-09-14 23:15] qubit0 commented on #417
Thank you @mtthss

[2022-09-18 10:48] #402 closed

[2022-09-18 15:15] hr0nix commented on #401
Hi, author of optax-adan here. Is it possible to share a collab where you've compared both implementations? I'd like to figure out where does the difference come from.

[2022-09-18 15:18] hr0nix commented on #401
Oh, found the link in the pull request, so no worries.

[2022-09-18 15:40] hr0nix commented on #401
Yep, the difference between implementations comes from epsilon placement. If I move it outside sqrt, the results are equal.

[2022-09-18 15:47] hr0nix commented on #401
After this change is merged and released, I'll put a note in README.md of optax-adan that there is no need to use the package as adan is now implemented in optax.

[2022-09-28 03:09] DoTulip opened #424 "Question about Schedule"
Hello Optax team,
I am a new user of optax and have some questions about using it. How to use schedule when using adam? I found that when using adam, the learning rate is constant even when the schedule is passed in. Can only adamw be used with schedule? Is it possible to add some examples on how to use schedule?

[2022-09-28 08:32] DoTulip commented on #424
I did it this way, but I found that the learning rate didn't change at all.
[code]
Looking forward to your help！ @mkunesch @n2cholas @rosshemsley @mtthss

[2022-09-30 08:12] DoTulip commented on #424
Sorry to interrupt. I made a stupid mistake when calling the schedule, which has been solved now! I will close this issue. Thank you again for creating such a powerful tool!

[2022-10-02 14:06] nasyxx opened #429 "adamax and adamaxw not exposed."
adamax and adamaxw not exposed

I noticed that optax did not expose `adamax` and `adamaxw` defined in `_src/alias.py` (https://github.com/deepmind/optax/blob/2df58b4f85055f69ffbc12d9f0eddbe6edf5a740/optax/_src/alias.py#L703-L776) in `__init__.py`. Is this done on purpose because they have some problems? Or just missed it?

[2022-10-04 03:02] cgarciae opened #432 "Pytree-based Optimizers"
This topic is in my mind every once in a while, it has already been discussed extensively (e.g. https://github.com/deepmind/optax/issues/197#issuecomment-982548377), but I feel it needs new life because it could resolve the last remaining quirks in optax.

Optax optimizers have well defined API and contrary to neural networks they have clear ways on how to update their state, making them perfectly

[2022-10-04 15:47] hbq1 commented on #328
@epignatelli is this issue still relevant or should we close it?

[2022-10-04 15:48] 8bitmp3 commented on #432
@mkunesch @rosshemsley @hbq1 let us know what you think 👍

[2022-10-04 16:16] hbq1 commented on #429
Hi @nasyxx, this is a great catch, thank you!
Would you like to send a PR which would expose these functions?

[2022-10-04 16:29] nasyxx commented on #429
Hi, sure.  It's #433

[2022-10-05 07:29] rosshemsley opened #434 "Rendering issue with maths (katex)"

[2022-10-05 07:31] #434 closed

[2022-10-05 22:46] #429 closed

[2022-10-06 10:08] Warlord-K commented on #250
I opened these and found that these files have type hints. So, I think this issue can be closed. Thanks

[2022-10-06 10:14] hbq1 commented on #250
Update: https://github.com/deepmind/optax/pull/413 has added missing type hints to linear_algebra.py.

[2022-10-06 10:14] hbq1 commented on #250
@mkunesch should we close this issue now?

[2022-10-07 08:06] Warlord-K commented on #229
Hi @rosshemsley , Please Review my PR since this is my first contribution it needs to be reviewed by a maintainer. Please Let me know if any modifications are needed.

[2022-10-11 14:21] rosshemsley commented on #424
No worries @DoTulip. If it's possible your mistake could be made by others, please do feel free to share what the mistake was so that others can learn from it too :)

[2022-10-14 01:30] adit299 commented on #404
Hi, I am a new contributor to Optax, and I would love to try to tackle this issue. If no one else is assigned to this issue, I would love to be assigned to take a crack at it!

[2022-10-14 08:58] epignatelli commented on #328
Hi @hbq1 -- sorry for the big delay.
Let me re-test this today and will get feed back into the conversation.

[2022-10-16 15:18] deadsoul44 commented on #160
@PhilipVinc  I get this error when using `multi_transform`. What is the solution? I put `unfreeze` everywhere but it didn't work.

[2022-10-16 17:32] danijar opened #440 "Default epsilon values for AdaBelief don't match the paper"
In the AdaBelief paper, there is only one `epsilon = 1e-8` that is used both to damp the second moment estimate and as constant in the denominator. In Optax, there are instead `eps = 1e-16` and `root_eps = 1e-16`. Initially, I just set `eps = 1e-8` in the hope to match the paper, but just no noticed that I also need to set `root_eps = 1e-1`. A few ideas how this might be improved:
- Add a note in

[2022-10-17 10:42] epignatelli commented on #328
@hbq1 I can confirm that the behaviour w/o fully jitting the update function is still the same, i.e., xla is recompiling `pow_integer` of any new exponent.

If we fully jitted update function and follow the same benchmark above, we get the following results, in seconds.

On `master`:
- Runs `[1.8947148323059082, 1.6692390441894531, 1.6632952690124512, 1.666994333267212, 1.6678147315979004]`
- Mean

[2022-10-18 16:50] #415 closed

[2022-10-20 11:58] hbq1 commented on #408
Thanks for the question!

@mtthss could you comment on this, since you're the one who ported Adafactor from Flax?

[2022-10-21 01:54] jenkspt opened #442 "AttributeError: module 'jax' has no attribute '_src'"
Trying to import optax and getting an error `AttributeError: module 'jax' has no attribute '_src'` for jax versions > 0.3.17

I created an issue in the chex repo: [https://github.com/deepmind/chex/issues/197](https://github.com/deepmind/chex/issues/197)

Also adding here so that the chex version requirements can be updated once the fix is made.

optax version == 0.1.3
chex version == 0.1.3

[code]

[2022-10-21 08:41] epignatelli commented on #328
Thanks @hbq1, I just reopened #329 in case you decide to merge up.

[2022-10-24 18:23] jenkspt commented on #442
According to [@samuela ](https://github.com/deepmind/chex/issues/197#issuecomment-1289409343) this was fixed in chex v0.1.5
So I think jax and chex versions in [requirements.txt](https://github.com/deepmind/optax/blob/3d3b8c3a622a9048a3310a30ba44ea3141fc2c51/requirements/requirements.txt#L2) should be updated

[2022-10-24 18:27] jenkspt commented on #442
`pip install -U chex` fixes the problem though

[2022-10-24 18:27] #442 closed

[2022-10-27 04:35] nasyxx opened #446 "BFGS / Quasi-Newton optimizers"
Hi, will optax consider implementing BFGS/Quasi-Newton optimizers?

Not sure if there is something similar already.

[2022-11-01 22:36] adam-hartshorne commented on #446
Is available here,

https://github.com/google/jaxopt

[2022-11-02 04:24] nasyxx commented on #446
Thanks!  I completely ignored jaxopt as a part of the JAX ecosystem.

[2022-11-04 20:55] Defunctionalize opened #449 "Meta-Learning is not out-of-the-box compatible with FLAX models which predict in batches. Any ideas?"
I'm sure this is something which is intuitively obvious to anyone who understands JAX's differentiation mechanism more deeply  😅

I have re-created [the Meta Learning notebook](https://optax.readthedocs.io/en/latest/meta_learning.html) from Optax's docs, except instead of using a simple function to multiply by theta, I use an equivelant `flax.nn.Dense(features=1, use_bias=False)` model to generate

[2022-11-05 05:18] heytanay opened #450 "Tests don't run on Mac"
I have been trying to run the tests using `bash test.sh` on Mac (M1 Pro chip) but the script ends in an error. Below is the screenshot of the error encountered.

<img width="1005" alt="Screenshot 2022-11-05 at 10 40 07 AM" src="https://user-images.githubusercontent.com/26519539/200102346-f1b818a8-9362-496a-a68f-2ccccc27f0b5.png">

I then tried running the `grep -c ^processor /proc/cpuinfo` command

[2022-11-05 14:44] mkunesch commented on #250
Ah yes, thanks - this is done so let's close it for now - anyone who finds missing type hints is still welcome to file a PR to fix them of course!

[2022-11-05 14:44] #250 closed

[2022-11-05 14:45] mkunesch commented on #340
Closing this as I think the question has been answered.

[2022-11-05 14:45] #340 closed

[2022-11-05 14:47] mkunesch commented on #404
Hi! Sorry for the late reply - yes, that'd be great! Let me know if you have any questions or would like to discuss!

[2022-11-07 14:24] heytanay commented on #403
@mkunesch Now, that Binary Hinge Loss is merged, can I open a new PR for Multi-class Hinge Loss?

[2022-11-07 16:16] hbq1 commented on #328
Hi @epignatelli, it tuned out that casting the denominator to `t.dtype` resulted in numerical instabilities in half-precision arithmetic, so your original PR was rolled back. We came up with a different solution that solves both issues, see #448.

[2022-11-08 15:26] epignatelli commented on #328
Hi @hbq1, so sorry about this -- the solution makes very much sense.
Thanks very much for pinging me!

[2022-11-09 00:56] mahdiabdollahpour opened #452 "Adding Contrastive loss functions?"
Hi
What do you think about adding loss functions in contrastive learning such as N-pair loss (https://papers.nips.cc/paper/2016/hash/6b180037abbebea991d8b1232f8a8ca9-Abstract.html, https://lilianweng.github.io/posts/2021-05-31-contrastive/#n-pair-loss)
Both with In-Batch Negative which is much more efficient and also the classical version.

[2022-11-12 21:28] xinglong-li opened #453 "AttributeError"
In the environment:
jax.__version__ = 0.3.24
and jaxlib.__version__ = 0.3.24,
and optax  0.1.3,

optax cannot be loaded, and
'import optax' raises following error:
AttributeError: module 'jax' has no attribute '_src'

[2022-11-15 02:09] adit299 commented on #404
Hello mkunesch,

I had a look at utils.py and utils_test.py to try to write some unit tests for the sample function in particular. However, I am having a hard time as there doesn't seem to be much documentation about the utils.py file. Would you be open to having a call, so that we can discuss in more depth what the sample function is doing, and what would be the desired approach to write unit tes

[2022-11-16 14:53] rosshemsley commented on #453
Hey @xinglong-li , I was unfortunately unable to reproduce this error. Here's the environment I tested with (on a macbook pro):

[code]

Do you have more details on how to reproduce this error?

[2022-11-16 15:01] rosshemsley commented on #450
Hey @heytanay , looks like this is because /proc/cpuinfo call is failing on your machine.

It appears that we could replace this with `auto` to get the same effect (this is used to set the number of CPUs to use when running the test), and the call above is trying to guess how many you have available.

I will look at getting a fix in, though you can try making the change directly and see if it help

[2022-11-16 15:01] rosshemsley commented on #450
(reference in the docs: https://pypi.org/project/pytest-xdist/)

[2022-11-16 16:16] #328 closed

[2022-11-16 16:40] #424 closed

[2022-11-16 23:45] xinglong-li commented on #453
Hi @rosshemsley, thanks for your response, it seems this is a random bug maybe comes with Jax?
It happened to me with python 3.9 on apple silicon m1 and python 3.10 on ubuntu 22.04. It disappeared once I upgraded Jax to 0.3.25.

[2022-11-16 23:45] #453 closed

[2022-11-18 16:54] ankit27kh opened #456 "Can not import optax"
Import fails with
[code]
Optax version 0.1.3
Jax version 0.3.25
Jaxlib version 0.3.25+cuda11.cudnn82

[2022-11-18 17:05] mkunesch commented on #456
Thanks, judging by https://github.com/deepmind/chex/issues/197 all that's required is to increase the chex version requirement in optax. I'll bump it to `0.1.5`.

[2022-11-18 17:09] ankit27kh commented on #357
@mtthss if no one is working on it, I would like to try. Can you provide me with some general points before I start, like which files to update, what to take care of etc., as I haven't contributed to optax before.

[2022-11-21 09:57] #450 closed

[2022-11-21 11:03] mkunesch commented on #456
This has been merged in #456, commit 543e18. We will release a new version in a moment so that you can specify that in the requirements.

[2022-11-21 11:14] mkunesch commented on #403
Totally! Which method exactly would you like to implement? Crammer-Singer similar to sklearn? If possible, it would be great if you could link a reference in the docstring or ideally even write out the equations in the docstring similar to how it's done in Adam:
https://github.com/deepmind/optax/blob/5f0501bac8015a48fc6cf78a6487a714df2b6553/optax/_src/alias.py#L216-L225

Thanks a lot for this and

[2022-11-21 13:55] mkunesch commented on #456
Version `0.1.4` is now released so starting with this version the error mentioned above should no longer happen. Thanks for raising this!

[2022-11-21 13:55] #456 closed